<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
                <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <h5>Resumen de Ordenes de Trabajos</h5>
                        
                    </div>

                    <!-- Listado 1/ Ingresos -->
                    <template v-if="listado==1">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control col-md-4 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value="num_orden">Num Orden</option>
                                        <option value="nombre">Cliente</option>
                                        <option value="idpersona">ID Cliente</option>
                                        <option value="fechai">Fecha</option>
                                        </select>
                                        <!--cuando presionamos enter y buscar-->    
                                        <input type="text" v-model="buscar" @keyup.enter="listarTrabajo(1,buscar,criterio)" class="form-control mr-1" placeholder="Texto a buscar">
                                        <!--cuando presionamos el boton buscar-->
                                        <button type="submit" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-primary mr-1"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group">
                                        <button type="button" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-light mr-1">
                                            Ingresos
                                        </button>
                                    
                                        <button type="button" @click="listarDespacho(1,buscar,criterio)" class="btn btn-success mr-1">
                                        Despachos
                                        </button>

                                         <button type="button" @click="listarPagos()" class="btn btn-success mr-1">
                                         Resumen
                                        </button>

                                    </div>
                                </div>
                            </div>

                            <!-- Tabla Responsiva -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Orden T.</th>
                                            <th>Fecha</th>  
                                            <th>Entrega</th>  
                                            <th>Codigo</th>
                                            <th class="text-center">Cliente</th>         
                                            <th>Total Orden</th>
                                            <th>Monto Pagado</th>
                                            <th>Forma</th>
                                            <th>Medio</th>
                                            <th>Estado</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="trabajo in arrayTrabajo" :key="trabajo.id">
                                        <!-- <tr v-for="roless in arrayRol" :key="roless.id"> -->
                                        

                                            <!-- <td v-text="persona.id_cod_persona"></td> -->
                                            <td v-text="trabajo.num_orden"></td>
                                            <td v-text="trabajo.fechai"></td>
                                            <td v-text="trabajo.fecha_entrega"></td>
                                            <td v-text="trabajo.id_cod_persona"></td>
                                            <td v-text="trabajo.nombre"></td>
                                            <td v-text="trabajo.total_orden"></td>
                                            <td v-text="trabajo.monto"></td>
                                            <!-- <td v-text="trabajo.id_cod_persona"></td> --> 
                                            <td>
                                                <div v-if="trabajo.idformapago == 1">
                                                    <span class="badge badge-primary">Completo</span>
                                                </div>
                                                <div v-if="trabajo.idformapago == 2">
                                                    <span class="badge badge-primary">Parcial</span>
                                                </div>
                                                <div v-if="trabajo.idformapago == 3">
                                                    <span class="badge badge-primary">Sin Pago</span>
                                                </div>
                                            </td>

                                            <td>
                                                <div v-if="trabajo.idmediopago == 1">
                                                    <span class="badge badge-primary">Efectivo</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 2">
                                                    <span class="badge badge-primary">Debito</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 3">
                                                    <span class="badge badge-primary">Credito</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 4">
                                                    <span class="badge badge-primary">No Aplica</span>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div v-if="trabajo.idinpecpago == 1 ">
                                                    <span class="badge badge-success">Ingresado</span>
                                                </div>
                                                <div v-else>
                                                    <span class="badge badge-danger">Despachado</span>
                                                </div>
                                            </td>
                                          
                                        </tr>
                                        
                                        <!-- Total Efectivo -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Efectivo:</strong></td>
                                            <td colspan="6">$ {{totalefectivo = calcularTotalEfectivo}}</td>
                                        </tr>

                                        <!-- Total Debito -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Dedito:</strong></td>
                                            <td colspan="6">$ {{totaldebito = calcularTotalDebito}}</td>
                                        </tr>

                                        <!-- Total Credito -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Credito:</strong></td>
                                            <td colspan="6">$ {{totalcredito = calcularTotalCredito}}</td>
                                        </tr>
                                        
                                        <!-- Total -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Neto:</strong></td>
                                            <td colspan="6">$ {{total=calcularTotal}}</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>

                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->

                        </div>
                    </template>
                    <!-- /Listado 1/ Ingresos-->

                   <!-- Listado 2/ Egresos -->
                    <template v-if="listado==2">
                        <div class="card-body">

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control col-md-4 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value="num_orden">Num Orden</option>
                                        <option value="nombre">Cliente</option>
                                        <option value="idpersona">ID Cliente</option>
                                        <option value="fechai">Fecha</option>
                                        </select>
                                        <!--cuando presionamos enter y buscar-->    
                                        <input type="text"  v-model="buscar" @keyup.enter="listarDespacho(1,buscar,criterio)" class="form-control mr-1" placeholder="Texto a buscar">
                                        <!--cuando presionamos el boton buscar-->
                                        <button type="submit" @click="listarDespacho(1,buscar,criterio)" class="btn btn-primary mr-1"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="input-group">
                                        <button type="button" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-success mr-1">
                                            Ingresos
                                        </button>
                                    
                                        <button type="button" @click="listarDespacho(1,buscar,criterio)" class="btn btn-light mr-1">
                                        Despachos
                                        </button>

                                        <button type="button" @click="listarPagos()" class="btn btn-success mr-1">
                                         Resumen
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Tabla Responsiva -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            
                                            <th>Orden T.</th>
                                            <th>Fecha</th>  
                                            <th>Entrega</th>  
                                            <th>Codigo</th>
                                            <th class="text-center">Cliente</th>         
                                            <th>Total Orden</th>
                                            <th>Monto Pagado</th>
                                            <th>Forma</th>
                                            <th>Medio</th>
                                            <th>Estado</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="trabajo in arrayTrabajo" :key="trabajo.id">
                                        <!-- <tr v-for="roless in arrayRol" :key="roless.id"> -->
                                           

                                            <!-- <td v-text="persona.id_cod_persona"></td> -->
                                            <td v-text="trabajo.num_orden"></td>
                                            <td v-text="trabajo.fechai"></td>
                                            <td v-text="trabajo.fecha_entrega"></td>
                                            <td v-text="trabajo.id_cod_persona"></td>
                                            <td v-text="trabajo.nombre"></td>
                                            <td v-text="trabajo.total_orden"></td>
                                            <td v-text="trabajo.monto"></td>
                                            <!-- <td v-text="trabajo.id_cod_persona"></td> --> 
                                             <td>
                                                <div v-if="trabajo.idformapago == 1">
                                                    <span class="badge badge-primary">Completo</span>
                                                </div>
                                                <div v-if="trabajo.idformapago == 2">
                                                    <span class="badge badge-primary">Parcial</span>
                                                </div>
                                                <div v-if="trabajo.idformapago == 3">
                                                    <span class="badge badge-primary">Sin Pago</span>
                                                </div>
                                            </td>

                                            <td>
                                                <div v-if="trabajo.idmediopago == 1">
                                                    <span class="badge badge-primary">Efectivo</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 2">
                                                    <span class="badge badge-primary">Debito</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 3">
                                                    <span class="badge badge-primary">Credito</span>
                                                </div>
                                                <div v-if="trabajo.idmediopago == 4">
                                                    <span class="badge badge-primary">No Aplica</span>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div v-if="trabajo.idinpecpago == 1 ">
                                                    <span class="badge badge-success">Ingresado</span>
                                                </div>
                                                <div v-else>
                                                    <span class="badge badge-danger">Despachado</span>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        
                                         <!-- Total Efectivo -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Efectivo:</strong></td>
                                            <td colspan="6">$ {{totalefectivo = calcularTotalEfectivo}}</td>
                                        </tr>
                                        
                                         <!-- Total Debito -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Dedito:</strong></td>
                                            <td colspan="6">$ {{totaldebito = calcularTotalDebito}}</td>
                                        </tr>
                                        <!-- Total Credito -->
                                        <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Credito:</strong></td>
                                            <td colspan="6">$ {{totalcredito = calcularTotalCredito}}</td>
                                        </tr>

                                        <!-- Total -->
                                         <tr style="background-color: #CEECF5;">
                                            <td colspan="6" align="right"><strong>Total Neto:</strong></td>
                                            <td colspan="6">$ {{total=calcularTotal}}</td>
                                        </tr>
                                       
                                    
                                    </tbody>
                                </table>
                            </div>

                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->

                        </div>
                    </template>
                    <!-- /Listado 2/ Egresos-->

                    <!-- Listado de los Resumen -->
                    <template v-if="listado == 3">
                        <div class="card-body">

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control col-md-4 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value="num_orden">Num Orden</option>
                                        <option value="nombre">Cliente</option>
                                        <option value="idpersona">ID Cliente</option>
                                        <option value="fechai">Fecha</option>
                                        </select>
                                        <!--cuando presionamos enter y buscar-->    
                                        <input type="text" v-model="buscar" @keyup.enter="listarPagos(1,buscar,criterio)" class="mr-1 form-control" placeholder="Texto a buscar">
                                        <!--cuando presionamos el boton buscar-->
                                        <button type="submit" @click="listarPagos(1,buscar,criterio)" class="btn btn-primary mr-1"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="input-group">
                                        <button type="button" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-success mr-1">
                                            Ingresos
                                        </button>
                                    
                                        <button type="button" @click="listarDespacho(1,buscar,criterio)" class="btn btn-success mr-1">
                                        Despachos
                                        </button>

                                        <button type="button" @click="listarPagos(buscar)" class="btn btn-light">
                                         Resumen
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Tabla Responsiva -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th >Mañana (Antes 14:00)</th>  
                                            <th scope="col">Tarde (Despues 14:00)</th>  
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        <tr>
                                        <th scope="row">Ingesos Efectivo</th>
                                            <td>$ {{totalefectivo = calcularTotalEfectivoCatorce[0]}}</td>
                                            
                                            <td>$ {{totalefectivo = calcularTotalEfectivoCatorce[1]}}</td>

                                            <td >$ {{totalefectivo = calcularTotalEfectivoCatorce[2]}}</td>
                                        </tr>


                                        <tr>
                                        <th scope="row">Entregas Efectivo</th>
                                            <td>$ {{totalefectivo = calcularTotalEfectivoEntregasCatorce[0]}}</td>
                                            
                                            <td>$ {{totalefectivo = calcularTotalEfectivoEntregasCatorce[1]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalEfectivoEntregasCatorce[2]}}</td>
                                        </tr>
                                        
                                        <tr>
                                        <th scope="row">Ingesos Debito</th>
                                             <td>$ {{totalefectivo = calcularTotalIngresosDebitoCatorce[0]}}</td>
                                            
                                            <td>$ {{totalefectivo = calcularTotalIngresosDebitoCatorce[1]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalIngresosDebitoCatorce[2]}}</td>
                                        </tr>

                                        <tr>
                                        <th scope="row">Entregas Debito</th>
                                             <td>$ {{totalefectivo = calcularTotalEgresosDebitoCatorce[0]}}</td>
                                            
                                            <td>$ {{totalefectivo = calcularTotalEgresosDebitoCatorce[1]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalEgresosDebitoCatorce[2]}}</td>
                                        </tr>

                                        <tr>
                                        <th scope="row">Ingesos Credito</th>
                                            <td>$ {{totalefectivo = calcularTotalIngresosCreditoCatorce[0]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalIngresosCreditoCatorce[1]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalIngresosCreditoCatorce[2]}}</td>
                                        </tr>

                                        <tr>
                                        <th scope="row">Entregas Credito</th>
                                            <td>$ {{totalefectivo = calcularTotalEgresosCreditoCatorce[0]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalEgresosCreditoCatorce[1]}}</td>

                                            <td>$ {{totalefectivo = calcularTotalEgresosCreditoCatorce[2]}}</td>
                                        </tr>

                                        <tr>
                                        <th scope="row">Total</th>
                                            <td>
                                                $ {{totalacatorce = calcularTotalEfectivoCatorce[0] + calcularTotalEfectivoEntregasCatorce[0] + calcularTotalIngresosDebitoCatorce[0] + calcularTotalEgresosDebitoCatorce[0] + 
                                                calcularTotalIngresosCreditoCatorce[0] + calcularTotalEgresosCreditoCatorce[0] }} 
                                            </td>
                                            <td>
                                                $ {{totalacatorce = calcularTotalEfectivoCatorce[1] + calcularTotalEfectivoEntregasCatorce[1] + calcularTotalIngresosDebitoCatorce[1] + calcularTotalEgresosDebitoCatorce[1] + 
                                                calcularTotalIngresosCreditoCatorce[1] + calcularTotalEgresosCreditoCatorce[1] }} 
                                            </td>
                                            <td>
                                                $ {{totalacatorce = calcularTotalEfectivoCatorce[2] + calcularTotalEfectivoEntregasCatorce[2] + calcularTotalIngresosDebitoCatorce[2] + calcularTotalEgresosDebitoCatorce[2] + 
                                                calcularTotalIngresosCreditoCatorce[2] + calcularTotalEgresosCreditoCatorce[2] }} 
                                            </td>
                                        </tr>
                                       
                                    
                                    </tbody>
                                </table>
                            </div>

                         

                        </div>
                    </template>
                    <!-- /Listado de los Resumen -->

                </div>
                            
            </div><!-- div container fluid -->



           

        </main>
</template>

<script>
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    export default {
        props : ['ruta'],
        data(){
            return {
               
                date: '',
                time: 0,
                datetime:'',
                fecha_hora:'',

                fecha_hoy:'', //fecha para la consulta
                tiempo :0,
                listado:1,

                // ingresoefec1 : 0.0,
                // entregaefec1 : 0.0,

                // ingresodebi1 :0.0,
                // entregadebi1 :0.0,

                total:0.0,
                totalcredito:0.0,
                totaldebito: 0.0,
                totalefectivo: 0.0,
                totalacatorce: 0.0, //total antes de las 14
                totaldcatorce: 0.0, //total despues de las 14
                
                arrayTrabajo:[],
                
                arrayEfectivo:[],
                arrayDebito:[],
                arrayCredito:[],
                arrayTodosPago : [],

                
               
                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 'fechai',//
                buscar : ''//
            }
        },
        components: {
            vSelect,
            DatePicker
        },
        computed: {
            //estos son los metodos q se me van a ir ejecutando siempre
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },

            calcularTotal : function(){
                var resultado=0.0;
                
                for(var i=0; i<this.arrayTrabajo.length; i++){

                    resultado = resultado + (parseInt(this.arrayTrabajo[i].total_orden))
                }
                return resultado
            },
             calcularTotalCredito : function(){
                var resultadocredito=0.0;
                
                for(var i=0; i<this.arrayTrabajo.length; i++){
                    if(this.arrayTrabajo[i].idmediopago=='3'){
                        resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].monto))
                    }

                    // resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].idmediopago='3'.monto))
                }
                return resultadocredito
            },

            calcularTotalDebito : function(){
                var resultadodebito=0.0;
                
                for(var i=0; i<this.arrayTrabajo.length; i++){
                    if(this.arrayTrabajo[i].idmediopago=='2'){
                        resultadodebito = resultadodebito + (parseInt(this.arrayTrabajo[i].monto))
                    }

                    // resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].idmediopago='3'.monto))
                }
                return resultadodebito
            },

             calcularTotalEfectivo : function(){
                var resultadoefectivo=0.0;
                
                for(var i=0; i<this.arrayTrabajo.length; i++){
                    if(this.arrayTrabajo[i].idmediopago=='1'){
                        resultadoefectivo = resultadoefectivo + (parseInt(this.arrayTrabajo[i].monto))
                    }

                    // resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].idmediopago='3'.monto))
                }
                return resultadoefectivo
            },

            //Ingresos
             calcularTotalEfectivoCatorce : function(){
                var resultadoefectivoacatorce=0.0;
                var resultadoefectivodcatorce=0.0;
                var totalEfectivoCompleto = 0.0;

                var arrayTotalEfectivoCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 1 & inpecpa == 1){
                      resultadoefectivoacatorce = resultadoefectivoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 1 & inpecpa == 1){ 
                         resultadoefectivodcatorce = resultadoefectivodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalEfectivoCompleto = resultadoefectivoacatorce + resultadoefectivodcatorce;

                arrayTotalEfectivoCatorce.push(resultadoefectivoacatorce);
                arrayTotalEfectivoCatorce.push(resultadoefectivodcatorce);
                arrayTotalEfectivoCatorce.push(totalEfectivoCompleto);

                return arrayTotalEfectivoCatorce;
            },
            //Egresos
             calcularTotalEfectivoEntregasCatorce : function(){
                var resultadoefectivoacatorce=0.0;
                var resultadoefectivodcatorce=0.0;
                var totalEfectivoCompleto = 0.0;

                var arrayTotalEfectivoEntregasCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 1 & inpecpa == 2){
                      resultadoefectivoacatorce = resultadoefectivoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 1 & inpecpa == 2){ 
                         resultadoefectivodcatorce = resultadoefectivodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalEfectivoCompleto = resultadoefectivoacatorce + resultadoefectivodcatorce;

                arrayTotalEfectivoEntregasCatorce.push(resultadoefectivoacatorce);
                arrayTotalEfectivoEntregasCatorce.push(resultadoefectivodcatorce);
                arrayTotalEfectivoEntregasCatorce.push(totalEfectivoCompleto);

                return arrayTotalEfectivoEntregasCatorce;
            },

            //Ingresos Debito
             calcularTotalIngresosDebitoCatorce : function(){
                var resultadodebitoacatorce=0.0;
                var resultadodebitodcatorce=0.0;
                var totalDebitoCompleto = 0.0;

                var arrayTotalDebitoIngresoCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 2 & inpecpa == 1){
                      resultadodebitoacatorce = resultadodebitoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 2 & inpecpa == 1){ 
                         resultadodebitodcatorce = resultadodebitodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalDebitoCompleto = resultadodebitoacatorce + resultadodebitodcatorce;

                arrayTotalDebitoIngresoCatorce.push(resultadodebitoacatorce);
                arrayTotalDebitoIngresoCatorce.push(resultadodebitodcatorce);
                arrayTotalDebitoIngresoCatorce.push(totalDebitoCompleto);

                return arrayTotalDebitoIngresoCatorce;
            },

            //Egresos Debito
             calcularTotalEgresosDebitoCatorce : function(){
                var resultadodebitoacatorce=0.0;
                var resultadodebitodcatorce=0.0;
                var totalDebitoCompleto = 0.0;

                var arrayTotalDebitoEgresoCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 2 & inpecpa == 2){
                      resultadodebitoacatorce = resultadodebitoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 2 & inpecpa == 2){ 
                         resultadodebitodcatorce = resultadodebitodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalDebitoCompleto = resultadodebitoacatorce + resultadodebitodcatorce;

                arrayTotalDebitoEgresoCatorce.push(resultadodebitoacatorce);
                arrayTotalDebitoEgresoCatorce.push(resultadodebitodcatorce);
                arrayTotalDebitoEgresoCatorce.push(totalDebitoCompleto);

                return arrayTotalDebitoEgresoCatorce;
            },

            //Ingresos Credito
             calcularTotalIngresosCreditoCatorce : function(){
                var resultadocreditoacatorce=0.0;
                var resultadocreditodcatorce=0.0;
                var totalCreditoCompleto = 0.0;

                var arrayTotalCreditoIngresoCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 3 & inpecpa == 1){
                      resultadocreditoacatorce = resultadocreditoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 3 & inpecpa == 1){ 
                         resultadocreditodcatorce = resultadocreditodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalCreditoCompleto = resultadocreditoacatorce + resultadocreditodcatorce;

                arrayTotalCreditoIngresoCatorce.push(resultadocreditoacatorce);
                arrayTotalCreditoIngresoCatorce.push(resultadocreditodcatorce);
                arrayTotalCreditoIngresoCatorce.push(totalCreditoCompleto);

                return arrayTotalCreditoIngresoCatorce;
            },

            //Egresos Credito
             calcularTotalEgresosCreditoCatorce : function(){
                var resultadocreditoacatorce=0.0;
                var resultadocreditodcatorce=0.0;
                var totalCreditoCompleto = 0.0;

                var arrayTotalCreditoEgresoCatorce = [];
                
                var tomahora= 0;
                var horatomada = 0;
                var tipopago = 0;
                var inpecpa = 0;

                
                for(var i=0; i<this.arrayTodosPago.length; i++){
                    tomahora = this.arrayTodosPago[i].pago_fecha_hora; //tomamos la hora de este registro
                    tipopago = this.arrayTodosPago[i].idmediopago; //medio de pago
                    inpecpa = this.arrayTodosPago[i].idinpecpago; //pago de ingreso
                    horatomada = tomahora.substring(11);// convertimos en string para comparar
                     
                     //Comparamos
                     if(horatomada <= "14:00:00" & tipopago == 3 & inpecpa == 2){
                      resultadocreditoacatorce = resultadocreditoacatorce + (parseInt(this.arrayTodosPago[i].monto))
                    
                     }else if(horatomada > "14:00:00" & tipopago == 3 & inpecpa == 2){ 
                         resultadocreditodcatorce = resultadocreditodcatorce + (parseInt(this.arrayTodosPago[i].monto))
                     }
                        
                }
                totalCreditoCompleto = resultadocreditoacatorce + resultadocreditodcatorce;

                arrayTotalCreditoEgresoCatorce.push(resultadocreditoacatorce);
                arrayTotalCreditoEgresoCatorce.push(resultadocreditodcatorce);
                arrayTotalCreditoEgresoCatorce.push(totalCreditoCompleto);

                return arrayTotalCreditoEgresoCatorce;
            },

            
            //Calcular el total de Ingresos de cualquier tipo antes de as 14 prueba
            calcularTotalIngresosAcatorce : function(){
                var arrayTotalIngresosAcatorce = [];
                arrayTotalIngresosAcatorce = calcularTotalEfectivoCatorce() + calcularTotalEfectivoEntregasCatorce();
            },
            //  + calcularTotalIngresosDebitoCatorce[0] + 
            //     calcularTotalEgresosDebitoCatorce[0] + calcularTotalIngresosCreditoCatorce[0] + calcularTotalEgresosCreditoCatorce[0];
            

            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            }
        },
        methods : {

            listarTrabajo(page,buscar,criterio){
                let me=this;
                me.listado = 1;
                var url =this.ruta +'/caja?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTrabajo = respuesta.trabajos;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarDespacho(page,buscar,criterio){
                let me=this;
                me.listado = 2;
                var url =this.ruta +'/caja/despachado?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTrabajo = respuesta.trabajos;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarResumen(){
                let me=this;
                me.listado = 3;
                // me.listarTrabajo(1,buscar,criterio);
               
            },
          
            pdfTrabajo(id){
                window.open(this.ruta +'/ordentra/pdf/' + id);
              
            },
            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarTrabajo(page,buscar,criterio);
            },

            listarPagos(buscar){
                 let me=this;
                me.listado = 3;
                
                var url = this.ruta + '/caja/pagos?buscar='+ me.buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTodosPago = respuesta.pagos;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
          
        },

        mounted() {
            this.buscar = this.fecha_hoy;
            this.listarTrabajo(1,this.buscar,this.criterio);
           
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: fixed !important;

    }
    .modal{
        overflow: auto !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
    }
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    
    
    
    
    @media (min-width: 600px){ /*para el boton de agregar*/
        .btnagregar{
            margin-top: 2rem;
        }
    }
</style>