<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <div class="form-inline">
                                <h5>Cliente Empresa</h5>
                            <button type="button" @click="abrirModal('persona','registrar')" class="ml-2 mr-2 btn btn-secondary">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                    </div>

                    <template v-if="listado==0">
                        <div class="card-body">
                            <div class="form-group">
                                
                                <div class="input-group"><!--Buscar-->
                                    <select class="form-control col-md-5 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                    <option value="nombre">Nombre</option>
                                    <option value="id_cod_persona">Codigo</option>
                                    <option value="email">Email</option>
                                    <option value="telefono">Telefono</option>
                                    </select>
                                    <!--cuando presionamos enter y buscar-->    
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar">
                                    <!--cuando presionamos el boton buscar-->
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                                
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Direccion</th>
                                            <th>Telefono</th>
                                            <th>Email</th>
                                            <th>Tipo Cli</th>
                                            <th>Prendas</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="persona in arrayPersona" :key="persona.id">
                                            <td v-text="persona.id_cod_persona"></td>
                                            <td v-text="persona.nombre"></td>
                                            <td v-text="persona.direccion"></td>
                                            <td v-text="persona.telefono"></td>
                                            <td v-text="persona.email"></td>
                                            <td v-if="persona.tipo == 2">Empresa</td>
                                            
                                            <td>
                                                <div v-if="persona.prendas == 0">
                                                    <span class="badge badge-danger">Sin Asignar</span>
                                                </div>
                                                <div v-if="persona.prendas == 1">
                                                    <span class="badge badge-success" >Asignadas</span>
                                                </div>
                                            </td>
                                            
                                            <td>    <!--Boton editar-->
                                                <button type="button" @click="abrirModal('persona', 'actualizar', persona)" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Editar Cliente">
                                                    <i  class="icon-pencil"></i>
                                                </button>

                                                <button type="button" @click="verTrabajo2(persona.id_cod_persona,persona.nombre,persona.direccion,persona.telefono,persona.email)" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Agregar Prendas a Cliente">
                                                    <i  class="icon-plus"></i>
                                                </button>

                                                <!--Boton Ver-->
                                                <button type="button" @click="verTrabajo(persona.id_cod_persona,persona.nombre,persona.direccion,persona.telefono,persona.email)" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Prendas de Empresas">
                                                    <i class="icon-eye"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->
                        </div>
                    </template>
                <!-- Fin ejemplo de tabla Listado -->

                <!-- Template para comenzar registrar prendas a emprezas -->
                    <template v-if="listado==1">
                        <div class="card-body">
                            <div class="form-group row border"><!--Form-group 1 Cliente-->
                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente(*)</label>
                                        <p v-text="cliente"></p>
                                    </div>
                                </div>

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Direcccion(*)</label>
                                        <p v-text="direccion"></p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-goup">
                                        <label for="">Prendas</label>
                                            <button @click="abrirModalPrenda()" class="m-0 mb-3 btn btn-success form-control btnagregar"><i class="icon-plus"></i></button>
                                    </div>
                                </div>

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Telefono(*)</label>
                                        <p v-text="telefono"></p>
                                    </div>
                                </div>

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Email(*)</label>
                                        <p v-text="email"></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Muestra los Errores, se muestra si errrorTipotrabajo=1 -->
                            <div class="col-md-12">
                                <div v-show="errorTrabajo" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                                        <div v-for="error in errorMostrarMsjTrabajo" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Totales  Subtotales -->
                            <!-- Aqui el modal donde colocare todos las prendas -->
                            <div class="form-group row border">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>ID</th>
                                                <th>Prenda</th>
                                                <th>Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayPrendasCli.length">
                                            <tr v-for="(detalle,index) in arrayPrendasCli" :key="detalle.id">
                                                <td>
                                                    <button @click="eliminarDetalle(index)" type="button" class="btn btn-danger btn-sm">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </td>
                                                
                                                <td v-text="detalle.idprenda"> 
                                                </td>

                                                <td v-text="detalle.prenda"> 
                                                </td>

                                                <td>
                                                    <input v-model="detalle.precio" type="number" value="1" min="1" class="form-control">
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Prendas Agregadas
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Botones de Registrar y Cerrar -->

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
                                    <button type="button" class="btn btn-primary" @click="asignar()">Asignar Prendas</button>
                                </div>
                            </div>
                            <!-- Fin Botones de Registrar y Cerrar -->
                            <!-- Totales y Subtotales -->
                        </div>
                    </template>
                <!-- /Listado Card Body 1-->

                <!-- Template para modificar y eliminar las prendas de las empresas-->
                    <template v-if="listado==2">
                        <div class="card-body">
                            <div class="form-group row border"><!--Form-group 1 Cliente-->
                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Cliente(*)</label>
                                        <p v-text="cliente"></p>
                                    </div>
                                </div>

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Direcccion(*)</label>
                                        <p v-text="direccion"></p>
                                    </div>
                                </div>

                                

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Telefono(*)</label>
                                        <p v-text="telefono"></p>
                                    </div>
                                </div>

                                <div class="col-md-4"><!--Cliente-->
                                    <div class="form-group">
                                        <label for="">Email(*)</label>
                                        <p v-text="email"></p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-goup">
                                        <label for="">Refrescar Tablas</label>
                                            <button @click="refrescarTabla()" class="m-0 mb-2 btn btn-md btn-success form-control btnagregar"><i class="icon-refresh"></i></button>
                                    </div>
                                </div>

                            </div>

                            <!-- Muestra los Errores, se muestra si errrorTipotrabajo=1 -->
                            <div class="col-md-12">
                                <div v-show="errorTrabajo" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                                        <div v-for="error in errorMostrarMsjTrabajo" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Totales  Subtotales -->
                            <!-- Aqui el modal donde colocare todos las prendas -->
                            <div class="form-group row border">
                                <div class="table-responsive col-md-12">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>ID</th>
                                                <th>Prenda</th>
                                                <th>Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="arrayPrendasCli.length">
                                            <tr v-for="(detalle) in arrayPrendasCli" :key="detalle.id">
                                                <td>
                                                    <button @click="borrarDetalle(detalle.id,detalle.idprendas)" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Borrar Prenda de Cliente Empresa">
                                                        <i class="icon-trash"></i>
                                                    </button>
                                                    <button @click="actualizarDetalle(detalle.id,detalle.idprendas,detalle.precio)" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Actualizar Prenda de Cliente Empresa">
                                                        <i class="icon-reload"></i>
                                                    </button>
                                                </td>
                                                
                                                <td v-text="detalle.idprendas"> 
                                                </td>

                                                <td v-text="detalle.prenda"> 
                                                </td>

                                                <td>
                                                    <input v-model="detalle.precio" type="number" value="1" min="1" class="form-control">
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <tr>
                                                <td colspan="6">
                                                    No hay Prendas Agregadas
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Botones de Registrar y Cerrar -->

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
                                </div>
                            </div>
                            <!-- Fin Botones de Registrar y Cerrar -->
                            <!-- Totales y Subtotales -->
                        </div>
                    </template>
                <!-- /Listado Card Body 1-->


                </div>
            </div>

            <!--Inicio del modal agregar/actualizar-->
            <div v-if="modal == 1" class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Codigo Persona</label>
                                    <div class="col-md-9">
                                        <input readonly type="text" v-model="id_cod_persona"  class="form-control" placeholder="Codigo Persona">
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre"  class="form-control" placeholder="Nombre de la persona">
                                        
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Direccion</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="direccion" class="form-control" placeholder="Direccion">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Telefono</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="telefono" class="form-control" placeholder="Telefono">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="">Tipo Cliente(*)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="tipocliente">
                                            <option value="2">Hotel-Empresas</option>
                                        </select>
                                    </div>
                                </div>
                                

                                <!-- solose muestrre cuando errrocate sea 1 -->
                                <div v-show="errorPersona" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <!-- iteramos  luego lo imprimo con v-text-->
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                                
                            </form>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="registrarPersona()">Guardar</button>
                            <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->

            
            <!--Inicio del modal de Prendas -->
            <div v-if="modal == 2" class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body pb-1">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select class="form-control col-md-5 mr-1" v-model="criterioP" >
                                            <option value="">Seleccionar</option>
                                            <option value="nombre">Nombre</option>
                                            <option value="descripcion">Descripción</option>
                                            <option value="id">Codigo</option>

                                        </select>
                                        <input type="text" v-model="buscarP" @keyup.enter="listarPrenda(1,buscarP,criterioP)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar"><!--cuando presione enter-->
                                        <button type="submit" @click="listarPrenda(1,buscarP,criterioP)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm mb-1">
                                    <thead>
                                        <tr>
                                            <th>Opcion</th>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="prendas in arrayPrenda" :key="prendas.id">
                                            <td>
                                                <button type="button" @click="agregarDetalleModal(prendas)" class="btn btn-success btn-sm" style="padding: 5px 10px;">
                                                    <i class="icon-check"></i>
                                                </button> 
                                            </td>
                                            <td v-text="prendas.id"></td>
                                            <td v-text="prendas.nombre"></td>
                                            <td v-text="prendas.descripcion"></td>
                                            <td>
                                                <div v-if="prendas.condicion">
                                                    <span class="badge badge-success">Activo</span>
                                                </div>
                                                <div v-else>
                                                    <span class="badge badge-danger">Desactivado</span>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>

                             <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination mb-1">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->

                        </div>

                        

                        <div class="modal-footer p-1">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <!-- <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="registrarTrabajo()">Guardar</button> -->
                            <!-- <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarPersona()">Actualizars</button> -->
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal de Prendas-->
            


        </main>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return {
                listado : 0,
                persona_id : 0, //para guardar la clave pk
                id_cod_persona : 0,
                nombre:'',
                idcliente:'',
                cliente:'',
                direccion:'',
                telefono:'',
                email:'',

                //para manejar modificacion de la sprendas cliente
                cli:0,
                pren:0,
                idpren_precio:0,
                prenprecio_condi:0,
                // 

                tipo_documento: '',
                num_documento: '',
                direccion: '',
                telefono:'',
                email:'',
                tipocliente: 2,
                buscarP:'',
                criterioP:'',

                arrayPersona : [],
                arrayPrenda : [],
                arrayVerificar : [],

                modal : 0,
                tituloModal: '',
                tipoAccion:  0,
                errorPersona : 0,

                errorMostrarMsjPersona : [],
                errorMostrarMsjTrabajo: [],
                errorTrabajo : 0,
                arrayPrendasCli: [],

                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 'nombre',//
                buscar : ''//
            }
        },

        computed: {
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
        methods : {

            listarPersona(page,buscar,criterio){
                let me=this;
                var url =this.ruta +'/clienteempresa?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                        me.arrayPersona = respuesta.personas.data;
                        me.pagination = respuesta.pagination;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarPrenda(page,buscar,criterio){
                this.arrayPrenda = [];
                let me = this;
                var url =this.ruta +'/prendaempresa/listarprenda?page=' +page+ '&buscar=' + buscar + '&criterio=' + criterio; 
                axios.get(url).then(function(response) {
                    var respuesta = response.data;
                        me.arrayPrenda = respuesta.prendas.data;
                        me.pagination = respuesta.pagination;
                })
                .catch(function(error) {
                        console.log(error);
                });
            },
            
            generarCodig(){
                let me=this;
                var url =this.ruta +'/cliente/codigo'
                axios.get(url).then(function (response) {
                     var respuesta = response.data;
                     if(respuesta.codigo == null){
                        me.id_cod_persona = 1;
                    }else{
                        me.valor = respuesta.codigo["id_cod_persona"];
                        me.id_cod_persona = parseInt(me.valor);
                        me.id_cod_persona ++;
                    }
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            cambiarPagina(page,buscar,criterio){
                let me = this;
                me.pagination.current_page = page;
                 me.listarPersona(page,buscar,criterio);
                 
                if(me.modal == 2){    
                    me.listarPrenda(page,buscar,criterio);
                }
            },

            encuentra(id){ //FUNCION PARA ENCONTRAR DATOS REPETIDOS EN LA TABLA DETALLES
                var sw=0;
                for(var i=0; i<this.arrayPrendasCli.length; ++i){
                    if(this.arrayPrendasCli[i].idprenda == id){
                        sw=true;
                    }
                }
                return sw;
            },

            encuentra2(id){
                var sw=0;
                for(var i=0; i<this.arrayVerificar.length; ++i){
                    if(this.arrayVerificar[i].idprendas == id){
                        sw=true;
                    }
                }
                return sw;
            },

            eliminarDetalle(index){
                let me=this;
                me.arrayPrendasCli.splice(index,1);

            },

            borrarDetalle(id,idprenda){
                let me=this;
                swal({
                title: 'Esta seguro que desea eliminar la prenda a esta empresa?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if(result.value){
                    
                    axios.put(this.ruta +'/prendaempresa/eliminar',{
                    'id' : id,
                    'idcliente' : me.cli,
                    'prenda' : idprenda,
                    'condicion' : me.prenprecio_condi,

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax

                        // me.cliente='';
                        // me.idcliente = '';
                        // me.arrayPrendasCli = [];
                        me.listado = 2;                        
                        
                        swal(
                        'Registrado!',
                        'La Orden de trabajo ha sido registrado con éxito.',
                        'success'
                        )    
                        
                        
                        // me.listarPersona(1,'','');

                    }).catch(function (error) {
                        console.log(error);
                    });

                    var url =this.ruta +'/prendaempresa/prenda?id=' + me.cli;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayPrendasCli = respuesta.prendas;  
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })            

            },

            actualizarDetalle(id,idprenda,precio){
                let me=this;
                swal({
                title: 'Esta seguro que desea actualizar el precio?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if(result.value){
                    
                    axios.put(this.ruta +'/prendaempresa/actualizarprecio',{
                    'id' : id,
                    'idcliente' : me.cli,
                    'prenda' : idprenda,
                    'precio' : precio

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax

                        me.listado = 2;                                                
                        swal(
                        'Registrado!',
                        'La Prenda ha sido ha sido actualizada.',
                        'success'
                        )    

                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })            

            },

            refrescarTabla(){
                let me = this;
                var url =this.ruta +'/prendaempresa/prenda?id=' + me.cli;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPrendasCli = respuesta.prendas;  

                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Tabla Actualizada',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            registrarPersona(){
                //si validarCategoria tiene un error entonces retor el error
                if(this.validarPersona()){
                    return;
                }

                let me = this;
                axios.post(this.ruta +'/cliente/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'tipo': this.tipocliente,


                }).then(function (response) {
                    me.cerrarModal();
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Cliente Registrado',
                        showConfirmButton: false,
                        timer: 1700
                    })
                    me.listarPersona(1, '', 'nombre' );//asi queda por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            asignar(){
                if(this.validarTrabajo()){
                return;
                }

                swal({
                title: 'Esta seguro que desea registrar la Orden?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if(result.value){
                    let me = this;
                    me.cli = parseInt(this.idcliente);

                    axios.post(this.ruta +'/prendaempresa/precios',{
                    'idcliente' : me.cli,
                    'data': me.arrayPrendasCli

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax

                        me.cliente='';
                        me.idcliente = '';
                        me.arrayPrendasCli = [];
                        me.arrayVerificar = [];
                        me.listado = 0;
                        
                        swal(
                        'Registrado!',
                        'La Orden de trabajo ha sido registrado con éxito.',
                        'success'
                        )    
                        
                        me.listarPersona(1,'','');

                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })

            },

            actualizarPersona(){
                if(this.validarPersona()){
                    return;
                }
                let me = this;
                axios.put(this.ruta +'/cliente/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'tipo': this.tipocliente,
                    'id': this.persona_id,

                }).then(function (response) {
                    me.cerrarModal();
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Cliente Actualizado',
                        showConfirmButton: false,
                        timer: 1700
                    })
                    me.listarPersona(1, '', 'nombre');//listar por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            actualizarPrendas(){
                if(this.validarTrabajo()){
                return;
                }

                swal({
                title: 'Esta seguro que desea Actualizar Prendas?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if(result.value){
                    let me = this;
                    me.cli = parseInt(this.idcliente);

                    axios.post(this.ruta +'/prendaempresa/precios',{
                    'idcliente' : me.cli,
                    'data': me.arrayPrendasCli

                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax

                        me.cliente='';
                        me.idcliente = '';
                        me.arrayPrendasCli = [];
                        arrayVerificar = [];
                        me.listado = 0;
                        
                        swal(
                        'Registrado!',
                        'La Orden de trabajo ha sido registrado con éxito.',
                        'success'
                        )    
                        
                        me.listarPersona(1,'','');

                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })

            },


            validarPersona(){
                this.errorPersona= 0;
                this.errorMostrarMsjPersona = [];

                //si nombre esta vacio entnces agregame este mensaje a este cadena de texto
                if(!this.id_cod_persona) this.errorMostrarMsjPersona.push("El Codigo de la persona no puede estar vacio.");
                if(!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la persona no puede estar vacio.");
                if(!this.direccion) this.errorMostrarMsjPersona.push("La direccion de la persona no puede estar vacio.");
                if(!this.telefono) this.errorMostrarMsjPersona.push("El telefono de la persona no puede estar vacio.");
                if(!this.email) this.errorMostrarMsjPersona.push("El email de la persona no puede estar vacio.");
                if(this.tipocliente==0) this.errorMostrarMsjPersona.push("Debes seleccionar un tipo de cliente");
                //si el array erromostrar tiene al menos 1  error categoria pasa a ser 1
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },

            validarTrabajo(){
                this.errorTrabajo= 0;
                this.errorMostrarMsjTrabajo = [];

                if(this.cliente == '') this.errorMostrarMsjTrabajo.push("Debe Seleccionar un Cliente.");
                if(this.arrayPrendasCli.length<=0) this.errorMostrarMsjTrabajo.push("Debe ingresar detalle.");
    
                if (this.errorMostrarMsjTrabajo.length) this.errorTrabajo = 1;
                return this.errorTrabajo;
            },

            cerrarModal(){
                this.modal= 0;
                this.tituloModal = '';
                this.id_cod_persona = 0,
                this.nombre = '',
                this.tipo_documento = 'DNI',
                this.num_documento = '',
                this.direccion = '',
                this.telefono ='',
                this.email ='',
                this.tipocliente = 0,
                this.errorPersona= 0; 
                this.errorMostrarMsjPersona = [];
                
            },

            abrirModal(modelo, accion, data = []){
                
                switch(modelo){
                    case "persona": //modelo
                    {
                        switch(accion){

                            case 'registrar':
                            {
                                this.modal = 1; //se debe mostrar el modal
                                this.tituloModal = "Registrar Cliente"; //que se muetre este titulo
                                this.id_cod_persona = 0,
                                this.nombre = '',
                                this.direccion = '',
                                this.telefono ='',
                                this.email ='',
                                this.tipoAccion = 1;
                                this.generarCodig();
                                break;
                            }
                            case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = "Actualizar Cliente"; //que se muetre este titulo
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.persona_id = data['id'];
                                this.id_cod_persona = data['id_cod_persona']; //enlazadas con el objeto nombre q viene en data
                                this.nombre = data['nombre']; //enlazadas con el objeto descripcion q viene en data
                                this.direccion = data['direccion'];
                                this.telefono = data['telefono'];
                                this.email = data['email'];
                                this.tipocliente = data['tipo'];
                                break;
                            }

                        }

                    } // /case categoria
                } // /switch 1
            }, // /abrirModal


            abrirModalPrenda(){
                    
                this.modal = 2; //se debe mostrar el modal
                this.tituloModal = "Seleccionar Prendas"; //que se muetre este titulo
                this.listarPrenda(1,'','');
                // this.generarCodig();
                                             
            },

            agregarDetalleModal(data = []){
                let me=this;

                if(me.encuentra(data['id'])){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Esta Prenda ya se encuentra agregada a la tabla!',
                        })

                }else if (me.encuentra2(data['id'])){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Esta Prenda ya se encuentra Asignada a la empresa!',
                        })
                }else{
                    me.arrayPrendasCli.push({
                    idprenda : data['id'],
                    prenda: data['nombre'],
                    precio: 0,
                    }); 
                }
            },

            // Aqui debo continuar  trabajarlo de mejor manera.
            verTrabajo2(id,nombre,direccion,telefono,email){
                let me = this;
                me.listado=1;
                me.cliente = nombre;
                me.idcliente = id;
                me.direccion = direccion;
                me.telefono = telefono;
                me.email = email;

                me.cli = parseInt(id);
                me.arrayVerificar=[];

                var url =this.ruta +'/prendaempresa/prenda?id=' + me.cli;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayVerificar = respuesta.prendas;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });

            },

            verTrabajo(id,nombre,direccion,telefono,email){
                let me = this;
                me.listado=2;
                me.cliente = nombre;
                me.direccion = direccion;
                me.telefono = telefono;
                me.email = email;
                me.cli = parseInt(id);
                me.arrayPrendasCli=[];


                var url =this.ruta +'/prendaempresa/prenda?id=' + me.cli;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPrendasCli = respuesta.prendas;  
                    
                })
                .catch(function (error) {
                    console.log(error);
                });


            },

            ocultarDetalle(){
                let me = this;
                me.listado=0;
                me.cliente = '';
                me.arrayPrendasCli = [];
                me.listarPersona(1,'','');
                // me.arrayPrendas = [];
                // me.errorTrabajo=0;
                // me.errorMostrarMsjTrabajo=[];
            },
        },

        mounted() {
            this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .mostrar{
        height:auto !important; /*Veamos */
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
        overflow-y: auto;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    .modal-content{
        border-radius: 0.625rem;
    }
    
</style>