<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <div class="form-inline">
                                <h5>Clientes Particulares</h5>
                            <button type="button" @click="abrirModal('persona','registrar')" class="ml-2 mr-2 btn btn-secondary">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            
                                <div class="input-group"><!--Buscar-->
                                    <select class="form-control col-md-5 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                      <option value="nombre">Nombre</option>
                                      <option value="id_cod_persona">Codigo</option>
                                      <option value="email">Email</option>
                                      <option value="telefono">Telefono</option>
                                    </select>
                                    <!--cuando presionamos enter y buscar-->    
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar">
                                    <!--cuando presionamos el boton buscar-->
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Email</th>
                                        <th>Tipo Cli</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="persona in arrayPersona" :key="persona.id">
                                        
                                        <td v-text="persona.id_cod_persona"></td>
                                        <td v-text="persona.nombre"></td>
                                        <td v-text="persona.direccion"></td>
                                        <td v-text="persona.telefono"></td>
                                        <td v-text="persona.email"></td>
                                        <td v-if="persona.tipo == 1">Natural</td>
                                        <td v-if="persona.tipo == 2">Empresa</td>
                                        <td>    <!--Boton editar-->
                                            <button type="button" class="btn btn-warning btn-sm">
                                            <i @click="abrirModal('persona', 'actualizar', persona)" class="icon-pencil"></i>
                                            </button>
                                        </td>

                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                        <!-- Paginacion -->
                        <nav>
                            <!--lista de paginacion-->
                            <ul class="pagination">
                                <!-- cuando sea mayor -->
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                </li>
                                
                                <!--para indicar en cual estoy-->
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>

                                <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                </li>
                            </ul>
                        </nav>
                        <!-- /Paginacion -->
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Codigo Persona</label>
                                    <div class="col-md-9">
                                        <input readonly type="text" v-model="id_cod_persona"  class="form-control" placeholder="Codigo Persona">
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre"  class="form-control" placeholder="Nombre de la persona">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Direccion</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="direccion" class="form-control" placeholder="Direccion">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Telefono</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="telefono" class="form-control" placeholder="Telefono">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="">Tipo Cliente(*)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="tipocliente">
                                            <option value="1">Natural</option>
                                        </select>
                                    </div>
                                </div>
                                

                                <!-- solose muestrre cuando errrocate sea 1 -->
                                <div v-show="errorPersona" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <!-- iteramos  luego lo imprimo con v-text-->
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                                
                            </form>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="registrarPersona()">Guardar</button>
                            <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
            


        </main>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return {
                persona_id : 0, //para guardar la clave pk
                id_cod_persona : 0,
                nombre: '',
                tipo_documento: '',
                num_documento: '',
                direccion: '',
                telefono:'',
                email:'',
                tipocliente: 1,
                arrayPersona : [],
                modal : 0,
                tituloModal: '',
                tipoAccion:  0,
                errorPersona : 0,
                errorMostrarMsjPersona : [],
                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 'nombre',//
                buscar : ''//
            }
        },

        computed: {
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        methods : {

            listarPersona(page,buscar,criterio){
                let me=this;
                var url =this.ruta +'/cliente?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPersona = respuesta.personas.data;
                    me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            

            generarCodig(){
                let me=this;
                var url =this.ruta +'/cliente/codigo'
                axios.get(url).then(function (response) {
                     var respuesta = response.data;
                     if(respuesta.codigo == null){
                        me.id_cod_persona = 1;
                    }else{
                        me.valor = respuesta.codigo["id_cod_persona"];
                        me.id_cod_persona = parseInt(me.valor);
                        me.id_cod_persona ++;
                    }
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarPersona(page,buscar,criterio);
            },
            
            registrarPersona(){
                //si validarCategoria tiene un error entonces retor el error
                if(this.validarPersona()){
                    return;
                }

                let me = this;
                axios.post(this.ruta +'/cliente/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'tipo': this.tipocliente,


                }).then(function (response) {
                    me.cerrarModal();
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Cliente Registrado',
                        showConfirmButton: false,
                        timer: 1700
                    })
                    me.listarPersona(1, '', 'nombre' );//asi queda por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            actualizarPersona(){
                if(this.validarPersona()){
                    return;
                }
                let me = this;
                axios.put(this.ruta +'/cliente/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'tipo': this.tipocliente,
                    'id': this.persona_id,

                }).then(function (response) {
                    me.cerrarModal();
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Cliente Actualizado',
                        showConfirmButton: false,
                        timer: 1700
                    })
                    me.listarPersona(1, '', 'nombre');//listar por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            validarPersona(){
                this.errorPersona= 0;
                this.errorMostrarMsjPersona = [];

                //si nombre esta vacio entnces agregame este mensaje a este cadena de texto
                if(!this.id_cod_persona) this.errorMostrarMsjPersona.push("El Codigo de la persona no puede estar vacio.");
                if(!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la persona no puede estar vacio.");
                if(!this.direccion) this.errorMostrarMsjPersona.push("La direccion de la persona no puede estar vacio.");
                if(!this.telefono) this.errorMostrarMsjPersona.push("El telefono de la persona no puede estar vacio.");
                if(!this.email) this.errorMostrarMsjPersona.push("El email de la persona no puede estar vacio.");
                if(this.tipocliente==0) this.errorMostrarMsjPersona.push("Debes seleccionar un tipo de cliente");
                //si el array erromostrar tiene al menos 1  error categoria pasa a ser 1
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },

            cerrarModal(){
                this.modal= 0;
                this.tituloModal = '';
                this.id_cod_persona = 0,
                this.nombre = '',
                this.tipo_documento = 'DNI',
                this.num_documento = '',
                this.direccion = '',
                this.telefono ='',
                this.email ='',
                this.tipocliente = 0,
                this.errorPersona= 0; 
                this.errorMostrarMsjPersona = [];
            },

            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "persona": //modelo
                    {
                        switch(accion){

                            case 'registrar':
                            {
                                this.modal = 1; //se debe mostrar el modal
                                this.tituloModal = "Registrar Cliente"; //que se muetre este titulo
                                this.id_cod_persona = 0,
                                this.nombre = '',
                                this.direccion = '',
                                this.telefono ='',
                                this.email ='',
                                this.tipoAccion = 1;
                                this.generarCodig();
                                break;
                            }
                            case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = "Actualizar Cliente"; //que se muetre este titulo
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.persona_id = data['id'];
                                this.id_cod_persona = data['id_cod_persona']; //enlazadas con el objeto nombre q viene en data
                                this.nombre = data['nombre']; //enlazadas con el objeto descripcion q viene en data
                                this.direccion = data['direccion'];
                                this.telefono = data['telefono'];
                                this.email = data['email'];
                                this.tipocliente = data['tipo'];
                                break;
                            }

                        }

                    } // /case categoria
                } // /switch 1
            } // /abrirModal
        },

        mounted() {
            this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
        overflow: auto !important;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
        .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    .modal-content{
        border-radius: 3px;
    }
    
</style>