<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
        </ol>

        
        
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                        <div class="card-body">
                            <h6 class="font-weight-normal">Ordenes Listas°</h6>
                            <h2 v-text="listas" class="mb-0">0</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                    <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                        <div class="card-body">
                            <h6 class="font-weight-normal">Ordenes Pend°</h6>
                            <h2 v-text="pendientes" class="mb-0" >0</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                    <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                        <div class="card-body">
                            <h6 class="font-weight-normal">Ingresados</h6>
                            <h2 v-text="ingredes" class="mb-0">0</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 grid-margin stretch-card">
                    <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                        <div class="card-body">
                            <h6 class="font-weight-normal">Despachados</h6>
                            <h2 v-text="despa" class="mb-0">0</h2>
                        </div>
                    </div>
                </div>

            </div>


            <!-- <div class="card">
                <div class="card-header">

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4 class="text-center">Ingresos del Año Actual</h4>
                                </div>

                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="ingresos">

                                        </canvas>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <p>Graficas de ingresos del año actual</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4 class="text-center">Ingresos del Año Anterior</h4>
                                </div>

                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="ingresoAnte">

                                        </canvas>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <p>Graficas de ingresos del año anterior</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </main> 


</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return {
                varIngreso:null,
                varIngresoAnte:null,
                charIngreso:null,
                charIngresoAnte:null,
                ingresos:[],
                ingresosAnte:[],
                pendientes:0,
                listas:0,
                ingredes:0,
                despa:0,
                varTotalIngresos:[],
                varMesIngreso:[],

                varTotalIngresosAnte:[],
                varMesIngresoAnte:[],
                anio2:0
            }
        },
        computed:{
            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            }
        },
        methods :{
            getIngresos(){
                let me=this;
                var url =this.ruta +'/dashboard';
                axios.get(url).then(function(response){
                    var respuesta = response.data;
                    me.ingresos = respuesta.ingresos;
                    

                    //cargamos los datos del char
                    me.loadIngresos();

                }).catch(function(error){
                    console.log(error);
                });
            },

           

            loadIngresos(){
                let me = this;
                me.ingresos.map(function(x){
                    me.varTotalIngresos.push(x.total);
                    me.varMesIngreso.push(x.mes);
                    
                });

                me.varIngreso=document.getElementById('ingresos').getContext('2d');

                        me.charIngreso = new Chart(me.varIngreso, {
                        type: 'bar',
                        data: {
                            labels: me.varMesIngreso,
                            datasets: [{
                                label: 'Ingresos',
                                data: me.varTotalIngresos,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)', 
                                borderColor: 'rgba(255, 99, 132, 0.2)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

            },

             getIngresosAnte(){
                let me=this;
                var url = this.ruta + '/dashboard/anterior';
                axios.get(url).then(function(response){
                    var respuesta = response.data;
                    me.ingresosAnte = respuesta.ingresos;
                    

                    //cargamos los datos del char
                    me.loadIngresosAnte();

                }).catch(function(error){
                    console.log(error);
                });
            },

            loadIngresosAnte(){
                let me = this;
                me.ingresosAnte.map(function(x){
                    me.varTotalIngresosAnte.push(x.total);
                    me.varMesIngresoAnte.push(x.mes);
                    
                });

                me.varIngresoAnte=document.getElementById('ingresoAnte').getContext('2d');

                        me.charIngresoAnte = new Chart(me.varIngresoAnte, {
                        type: 'bar',
                        data: {
                            labels: me.varMesIngresoAnte,
                            datasets: [{
                                label: 'Ingresos',
                                data: me.varTotalIngresosAnte,
                                backgroundColor: 'rgba(99, 222, 255, 0.2)', 
                                borderColor: 'rgba(99, 184, 255, 0.2)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

            },
            
            getPendientes(){
                let me=this;
                var url =this.ruta + '/dashboard/pendientes';
                axios.get(url).then(function(response){
                    var respuesta = response.data;
                    me.pendientes = respuesta.pendientes.length;
                    me.listas = respuesta.listas.length;
                }).catch(function(error){
                    console.log(error);
                });
            },

             getIngdes(){
                let me=this;
                var url = this.ruta + '/dashboard/ingdes/'+me.fechas;
                axios.get(url).then(function(response){
                    var respuesta = response.data;
                    me.ingredes = respuesta.ing.length;
                    me.despa = respuesta.desp.length;

                }).catch(function(error){
                    console.log(error);
                });
            },

            
            
        },

        mounted(){
            this.getIngresos(),
            this.getIngresosAnte(),
            this.getPendientes();
            this.getIngdes();
            
        }

    }
</script>

<style>
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    .bg-gradient-primary {
    background: linear-gradient(to bottom, #20a8d8,  #6a6cff);
    }

</style>
