<template>
    <main class="main">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
                <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
        </ol>

        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="form-inline">
                        <h5>Despacho de Ordenes de Trabajo</h5>
                        
                            <button type="button" @click="mostrarDetalle()" class="ml-2 mr-2 mt-1 btn btn-secondary">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        
                    </div>
                </div>

                <!-- Listado/Card Body 1 -->
                <template v-if="listado==1">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group"><!--Buscar-->
                                <select class="form-control col-md-5 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                <option value="guia_ordent">Orden de Trabajo</option>
                                <option value="guia_des">Guia de Despacho</option>
                                <option value="nom_perem">Cliente</option>
                                <option value="id_perempresa">ID Cliente</option>
                                <option value="fecha_hora">Fecha-Hora</option>
                                </select>

                                <input type="text" v-model="buscar" @keyup.enter="listarTrabajo(1,buscar,criterio)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar">
                                <button type="submit" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                        

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Guia D.</th>
                                        <th>Orden T.</th>  
                                        <th width="350px">Cliente</th>
                                        <th>Fecha E. </th>  
                                        <th>Hora E.</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="trabajo in arrayTrabajo" :key="trabajo.id">
                                    <!-- <tr v-for="roless in arrayRol" :key="roless.id"> -->
                                        
                                        <td v-text="trabajo.guia_des"></td>
                                        <td v-text="trabajo.guia_ordent"></td>
                                        <td v-text="trabajo.nom_perem"></td>
                                        <td v-text="trabajo.fecha_entrega"></td>
                                        <td v-text="trabajo.hora_entrega"></td>

                                        <td>    <!--Boton Ver-->
                                            <button type="button" @click="verTrabajo(trabajo.guia_des)" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Orden">
                                            <i  class="icon-eye"></i>
                                            </button>
                                                <!-- Boton Ver Pdf -->
                                            <button  type="button" @click="pdfTrabajo(trabajo.guia_des)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Pdf">
                                            <i  class="icon-doc"></i>
                                            </button>

                                        </td>
                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Paginacion -->
                        <nav>
                            <!--lista de paginacion-->
                            <ul class="pagination">
                                <!-- cuando sea mayor -->
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                </li>
                                
                                <!--para indicar en cual estoy-->
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>

                                <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                </li>
                            </ul>
                        </nav>
                        <!-- /Paginacion -->
                    </div>
                </template>
                <!-- /Listado Card Body 1-->

                <!-- Comenzar a registrar un trabajo Detalle/Card Body 2 -->
                <template v-else-if="listado==0">
                    <div class="card-body">

                        <div class="form-group row border"><!--Form-group 1 Cliente-->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-center">
                                            <label class="" for="">Orden de Despacho(*)</label>
                                            <h5><b>N° {{num_des}}</b></h5>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group text-center">
                                            <label for="">Orden de Trabajo(*)</label>
                                            <h5><b>N° {{num_orden}}</b></h5>
                                        </div>
                                    </div>

                                    <div class="col-md-3"> <!--Agreagr nuevo cliente-->
                                        <div class="form-group text-center">
                                            <label for="">Ordenes de Trabajos</label>
                                            <button @click="abrirModalTrabajo()" class="btn btn-success form-control"><i class="icon-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="">Cliente:</label>
                                <!-- <h6>Cliente:</h6> -->
                                <!-- <p class="pl-2" v-text="cliente"></p> -->
                                <h6 class="card-title mb-4"> <b>{{cliente}}</b></h6>
                            </div>
                        
                            <!-- <div class="col-md-3 text-center">
                                <label for="">Fecha de Entrega</label>
                                <p v-text="fechasignar"></p>
                            </div> -->

                            <div class="col-md-6 mb-2">
                                <label for="">Fecha de Entrega <span class="badge badge-pill badge-danger">(*)</span></label>
                                <input v-model="fechasignar" type="date" class="form-control">
                                <!-- <date-picker lang="es" type="date" format="DD-MM-YYYY" width="200" placeholder="Seleccionar Fecha"></date-picker> -->
                            </div>

                            <div class="col-md-6 mb-2">
                                <label for="">Hora de Entrega <span class="badge badge-pill badge-danger">(*)</span></label>
                                <input v-model="hora_entrega" type="time" class="form-control">
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comment">Observaciones:</label>
                                    <textarea class="form-control" v-model="observacion" rows="3" id="comment" placeholder="Ingrese Observaciones Importantes"></textarea>
                                </div> 
                            </div>

                                <!-- Muestra los Errores, se muestra si errrorTipotrabajo=1 -->
                            <div class="col-md-12">
                                <div v-show="errorTrabajo" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <div v-for="error in errorMostrarMsjTrabajo" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                            
                        <div class="form-group row border">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Prenda</th>
                                            <th>Cant Orden</th>
                                            <th>Cantidad Despachar</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="arrayPrendasCli.length">
                                        <tr v-for="(detalle,index) in arrayPrendasCli" :key="detalle.id">
                                            <td>
                                                <button @click="eliminarDetalle(index)" type="button" class="btn btn-danger btn-sm">
                                                    <i class="icon-close"></i>
                                                </button>
                                            </td>
                                            <td v-text="detalle.prenda">
                                                
                                            </td>

                                            <td>
                                                <p v-text="detalle.cantiprendas"></p> 
                                            </td>

                                            <td>
                                                <input v-model="detalle.stockprendas" type="number" value="1" min="1" class="form-control">
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="6">
                                                No hay Prendas Agregadas
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
                                <button type="button" class="btn btn-primary" @click="registrarTrabajo()">Registrar Despacho</button>
                            </div>
                        </div>
                    </div>
                </template>


                <!-- Ver detalle Despacho despues de registrado -->
                <template v-else-if="listado==2">    
                    <div class="card-body">
                        <div class="form-group row border"><!--Form-group 1 Cliente-->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-center">
                                            <label class="" for="">Numero de Despacho(*)</label>
                                            <!-- <p class="pl-2" v-text="asignar"></p> -->
                                            <h5><b>N° {{asignar}}</b></h5>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group text-center">
                                            <label for="">Num Orden Trabajos(*)</label>
                                            <!-- <p class="text-center" v-text="num_orden"></p> -->
                                            <h5><b>N° {{num_orden}}</b></h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="">Cliente:</label>
                                        <!-- <h6>Cliente:</h6> -->
                                        <p class="pl-2" v-text="cliente"></p>
                                    </div>
                                
                                    <div class="col-md-3 mb-2 text-center">
                                            <label for="">Fecha de Entrega</label>
                                            <p v-text="fechasignar"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comment">Observaciones:</label>
                                    <textarea class="form-control" v-model="observacion" rows="3" id="comment" placeholder="Ingrese Observaciones Importantes"></textarea>
                                </div> 
                            </div>

                            <!-- Muestra los Errores, se muestra si errrorTipotrabajo=1 -->
                            <div class="col-md-12">
                                <div v-show="errorTrabajo" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <div v-for="error in errorMostrarMsjTrabajo" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row border">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Prenda</th>
                                            <th>Cantidad Despachada</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="arrayPrendasCli.length">
                                        <tr v-for="(detalle) in arrayPrendasCli" :key="detalle.id">
                                            
                                            <td v-text="detalle.prenda"></td>

                                            <td>
                                                <p v-text="detalle.cantiprendas"></p> 
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="6">
                                                No hay Prendas Agregadas
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </template>
                    <!-- /Ver detalle de despacho despues de registrado -->

                 
            </div>  

            <!-- Inicio de Modal de Tipos de Trabajos -->
                <div v-if="modal == 1" class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-primary modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" v-text="tituloModal"></h4>
                                <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <div class="modal-body pb-1">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <select class="form-control col-md-5 mr-1" v-model="criterioT" >
                                            <!-- en value va el nombre con el q buscare en la bd -->
                                                <option value="num_orden">Orden T</option>
                                                <option value="nombre">Empresa</option>
                                                <option value="fecha_hora">Fecha de Orden</option>
                                                <option value="fecha_entrega">Fecha de Entrega</option>

                                            </select>

                                            <input type="text" v-model="buscarT" @keyup.enter="listarTipoTrabajo(1,buscarT,criterioT)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar"><!--cuando presione enter-->
                                            <button type="submit" @click="listarTipoTrabajo(1,buscarT,criterioT)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-sm mb-1">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Orden T.</th>
                                                <th>Empresa</th>
                                                <th>Fecha de Orden</th>
                                                <th>Fecha de Entrega</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr v-for="trabajos in arrayTrabajo2" :key="trabajos.id">
                                                <td>
                                                    <button type="button" @click="obtenerDetalles(trabajos.num_orden,trabajos.id_cod_persona,trabajos.nombre,trabajos.fecha_entrega,trabajos.historia,trabajos.tipo,trabajos.hora_entrega)" class="btn btn-success btn-sm" style="padding: 5px 10px;">
                                                        <i class="icon-check"></i>
                                                    </button>
                                                    
                                                </td>
                                                <td v-text="trabajos.num_orden"></td>
                                                <td v-text="trabajos.nombre"></td>
                                                <td v-text="trabajos.fechai"></td>
                                                <td v-text="trabajos.fecha_entrega"> </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Paginacion -->
                                <nav>
                                    <!--lista de paginacion-->
                                    <ul class="pagination mb-1">
                                        <!-- cuando sea mayor -->
                                        <li class="page-item" v-if="pagination.current_page > 1">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                        </li>
                                        
                                        <!--para indicar en cual estoy-->
                                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                        </li>

                                        <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /Paginacion -->


                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-sm mb-1">
                                        <thead>
                                            <tr>
                                                <th>Orden</th>
                                                <th>Prendas</th>
                                                <th>Cant Orden</th>
                                                <th>CantidadStock</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr v-for="prendas in arrayPrendas" :key="prendas.id">
                                                <td v-text="prendas.prenda_numor"></td>
                                                <td v-text="prendas.prenda"></td>
                                                <td v-text="prendas.cantiprendas"></td>
                                                <td v-text="prendas.stockprendas"></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            

                            <div class="modal-footer p-1">
                                <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="asignarTrabajo()">Asignar</button>
                                <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            <!-- Fin de Modal de Tipos de Trabajos -->  
        </div>
    </main>
    
</template>

<script>
import vSelect from 'vue-select';
export default {
    props : ['ruta'],
    data(){
        return {
        listado:1,
        criterio:'guia_ordent',
        buscar : '',
        modal:0,
        buscarT: '',
        fecha_hoy:'', //fecha para la consulta
        asignar:'',
        criterioT:'num_orden',
        num_des:'',
        cliente:'',
        recibecli:'',
        idcliente:'',
        recibeidcli:'',
        fechacli:'',
        fechasignar:'',
        errorTrabajo:0,
        errorCadena:0,
        cantides:'',
        observacion:'',

        errorMostrarMsjTrabajo: [],
        arrayTrabajo : [],
        arrayTrabajo2 : [],
        arrayPrendas : [],
        arrayPrendasCli: [],
        arrayDespachos: [],
        valorDespachando: 0,

        identificador:0,
        historia:0,
        tipo:'',
        hora_entrega:'',

        pagination : {
            'total' : 0,//el total de pag
            'current_page'  : 0,//pagina actual
            'per_page'      : 0,//los registros de pagina
            'last_page'     : 0,// ultima pagina
            'from'          : 0,//desde la pagina
            'to'            : 0,//hasta la pagina
        },

        offset : 3, //

        }
    },

    components: {
        vSelect,
    },

    computed: {
        //estos son los metodos q se me van a ir ejecutando siempre
        isActived : function(){
            return this.pagination.current_page; //activar la pagina actual
        },
        //calcula los elementos de la paginacion
        pagesNumber : function(){
            if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                return [];
            }
            var from = this.pagination.current_page - this.offset;
            if(from < 1) {
                from = 1;
            }


            var to  = from + (this.offset * 2);
            if(to >= this.pagination.last_page){
                to = this.pagination.last_page;
            }

            var pagesArray = [];
            while(from <= to){
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        },

        fechas : function(){

            var hoy = new Date();
            var  dd = hoy.getDate();
            var  mm = hoy.getMonth()+1;
            var  yyyy = hoy.getFullYear();

            function addZero(i) {
                if (i < 10) {
                    i = '0' + i;
                }
                return i;
            }

            mm=addZero(mm);
            dd=addZero(dd);

            return hoy = yyyy+'-'+mm+'-'+dd;
        }
    },

    methods : {
        cambiarPagina(page,buscar,criterio){
            let me = this;
            // Actualiza la pag actual
            me.pagination.current_page = page;
            //Enviar la peticion para ver la data de esa pagin
            if(me.modal == 0){
            me.listarTrabajo(page,buscar,criterio);    
            }

            if(me.modal == 1){
            me.listarTipoTrabajo(page,buscar,criterio);
            }

            if(me.modal == 2){
                
            }
            
        },

        generarCodig(){
            let me=this;
            var url =this.ruta +'/despacho/codigodes'
            axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    if(respuesta.codigo == null){
                    me.num_des = 1;
                }else{
                    me.valor = respuesta.codigo["guia_des"];
                    me.num_des = parseInt(me.valor);
                    me.num_des ++;
                }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        listarTrabajo(page,buscar,criterio){
            let me=this;
            var url =this.ruta +'/despacho/cli?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayTrabajo = respuesta.trabajos.data;
                me.pagination = respuesta.pagination;
                // me.userauten = respuesta.autenticado;

                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        
        listarTipoTrabajo(page,buscar,criterio){
            let me = this;
            var url =this.ruta +'/ordentra/clientedespa?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio; 
            axios.get(url).then(function(response) {
                    var respuesta = response.data;
                    me.arrayTrabajo2 = respuesta.trabajos.data;
                    me.pagination = respuesta.pagination;
            })
            .catch(function(error) {
                    
                    console.log(error);
            });
        },

        verTrabajo(id){
            let me = this;
            me.listado=2;
            var arrayTrabajoT=[];
            var url =this.ruta +'despacho/obtenerCabecera?id=' + id;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                arrayTrabajoT = respuesta.trabajo;
                me.asignar = arrayTrabajoT[0]['guia_des'];
                me.cliente = arrayTrabajoT[0]['nombre'];
                me.num_orden = arrayTrabajoT[0]['guia_ordent'];
                me.observacion = arrayTrabajoT[0]['observacion'];
                me.fechasignar = arrayTrabajoT[0]['fecha_entrega'];
            })
            .catch(function (error) {
                console.log(error);
            });

            //Obtener Detalles
            
            var url =this.ruta +'despacho/obtenerCabeDeta?id=' + id;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayPrendasCli = respuesta.prendas;  
                
            })
            .catch(function (error) {
                console.log(error);
            });

        },

        pdfTrabajo(id){
            window.open(this.ruta +'/despacho/pdf/' + id);    
        },


        asignarTrabajo(){
            let me = this;
            me.num_orden = me.asignar;
            me.nombre = me.cliente;
            me.cliente = me.recibecli;
            me.fechasignar = me.fechacli;
            me.arrayPrendasCli = me.arrayPrendas;
            
            

        },

        obtenerDetalles(id,idem,nombre,fechas,historia,tipo,hora_entrega){
            
             let me = this;
             me.asignar = id;
             me.recibecli = nombre;
             me.recibeidcli = idem;
             me.fechacli = fechas;
             me.historia = historia;
             me.tipo = tipo;
             me.hora_entrega = hora_entrega;
            var url =this.ruta +'despacho/obtenerDetalles?id=' + id;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayPrendas = respuesta.prendas;  

            //  validarPrenda();
                
            })
            .catch(function (error) {
                console.log(error);
            });
            
            

        },

        obtenerPrueba(id){
             let me = this;
             me.identificador = parseInt(id);
             
            var url =this.ruta +'despacho/obtenerDetalles?id=' + me.identificador;
            axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayPrendas = respuesta.prendas;  

                if(me.arrayPrendas.length == 0){
                    
                    // me.listarCategoria(1, '', 'nombre');//listar por defecto    
                    me.actualizarOrden(me.identificador);
                    
                }else{
                    
                    swal(

                        'Stock Actualizado!',
                        'Esta orden todavia cuenta con prendas en stock!',
                        'success'
                    )
                }
                me.arrayPrendas = [];
            })
            .catch(function (error) {
                console.log(error);
            });
            // Limpiamos el array

        },

        actualizarOrden(id){
            let me = this;
            axios.put(this.ruta +'/despacho/despaorden',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': me.identificador,
                    'historia' : me.historia
                }).then(function (response) {
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Orden Actualizada y ya no cuenta con prendas en Stock',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    // me.listarCategoria(1, '', 'nombre');//listar por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
                    // Lismpiamos el array
                    me.arrayPrendas = [];
        },

        registrarTrabajo(){
        
            if(this.validarTrabajo()){
                return;
            }

            swal({
            title: '¿Esta seguro que desea egresar la Orden?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar!',
            cancelButtonText: 'Cancelar',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
            reverseButtons: true
            }).then((result) => {
            
            if(result.value){

                let me = this;
                // this.fecha_hora = this.date + " " + this.time + ":00";
                axios.post(this.ruta +'/despacho/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar Aqui Voy
                // campodb: this.variablefront,
                'guia_des' : this.num_des,
                'num_orden' : this.num_orden,
                'id_persona': this.recibeidcli,
                'cliente': this.cliente,
                'observacion' : this.observacion,
                'data': this.arrayPrendasCli,
                'fecha_entrega' : this.fechasignar,
                'hora_entrega' : this.hora_entrega,
                'tipo': this.tipo

                
                }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                                        
                    me.listado = 1;
                    // me.listarTrabajo(1, '', 'num_orden');//asi queda por defecto
                    me.idprenda=0;
                    me.cantidad=0;
                    me.prenda = '';
                    me.date = '';
                    me.fecha_hora = '';
                    me.idprendatraba = 0;
                    me.time = 0,
                    // me.num_orden = '';
                    me.arrayPrendasCli = [];
                    me.arrayPrendas = [];
                    me.observacion = "";
                    me.fechasignar = '';
                    me.hora_entrega = '';
                    me.fechacli = '';
                    me.cliente = '';

                // window.open('http://localhost:8000/ordentra/pdf/' + this.num_orden,'_blank');    
                    
                    swal(
                    'Registrado!',
                    'La Orden de trabajo ha sido registrado con éxito.',
                    'success'
                    )    
                    me.obtenerPrueba(me.num_orden);
                    // me.num_orden = '';
                    
                    me.listarTrabajo(1,'','guia_ordent');

                }).catch(function (error) {
                    console.log(error);
                });

                

            }else if(result.dismiss == swal.DismissReason.cancel){

            }
            })

        },
        
        validarTrabajo(){
            let me = this;
            me.errorTrabajo= 0;
            me.errorMostrarMsjTrabajo = [];
            
            me.arrayPrendasCli.map(function(x){
                   let valor =parseInt(x.stockprendas);
                if( valor > x.stockprendas2){
                     me.errorMostrarMsjTrabajo.push("No se Pueden exportar mas prendas que las ingresadas");
                }      
            });
            if(me.hora_entrega=='') me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
            if(me.fechasignar=='') me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
            if(me.num_orden=='') me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
            if(me.arrayPrendasCli.length<=0) me.errorMostrarMsjTrabajo.push("Debe ingresar detalle.");
            if (me.errorMostrarMsjTrabajo.length) me.errorTrabajo = 1;
            return me.errorTrabajo;
        },

        eliminarDetalle(index){
            let me=this;
            me.arrayPrendasCli.splice(index,1);
        },

        mostrarDetalle(){
            let me = this;
            me.listado = 0;
            me.listarTrabajo(1, '', 'guia_ordent');//asi queda por defecto
            me.idprenda=0;
            me.fechasignar='';
            me.recibecli='';
            me.cliente = '';
            me.cantidad=0;
            me.prenda = '';
            me.date='';
            me.num_orden = "";
            me.asignar = 0;
            me.arrayPrendasCli =[];
            me.arrayPrendas =[];
            me.observacion = "";
            me.generarCodig();
        },

        ocultarDetalle(){
            let me = this;
            me.listado=1;
            me.observacion = "";
            me.fechasignar = '';
            me.fechacli = '';
            me.num_orden = '';
            me.cliente = '';
            me.arrayPrendasCli = [];
            me.arrayPrendas = [];
            me.errorTrabajo=0;
            me.errorMostrarMsjTrabajo=[];
        },

        abrirModalTrabajo(){
            let me=this;
                // this.idprendatraba = idpren;
                // this.prendatraba = index; //por medio de este indice puedo sabe a cual registro le agregare los trabajos
                me.tipoAccion= 1;
                me.modal = 1; //se debe mostrar el modal
                me.tituloModal = "Ordenes de Trabajo"; //que se muetre este titulo
                this.listarTipoTrabajo(1,'','');
                
                                            
        },

        cerrarModal(){
            this.modal= 0;
            this.tipoAccion = 0;
            this.tituloModal='';
            this.buscarT = '';
            this.criterioT='num_orden';
            this.criterioP ='nombre';
            this.buscarP = '';
            this.listarTrabajo(1, '', 'guia_ordent');//asi queda por defecto
            // this.arrayPrendas = [];
        },

        
    },

    

    mounted() {
        this.listarTrabajo(1,this.buscar,this.criterio);
        
    }
}
</script>

<style>
    /* .card{
        
        border-top-left-radius: ;
        border-top-right-radius: 0; 
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
    } */

    .modal-content{
        width: 100% !important;
        position: fixed !important;
        border: 0;
        border-radius: 0.625rem;

    }
    .border-supe {

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    }

    .modal-header{
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    .modal{
        overflow: auto !important;
    }

    .mostrar{
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        display: list-item !important;
        opacity: 1 !important;
        background-color: #3c29297a !important;
        overflow-y: auto;
    }
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    
    .card-header{
        border: 0;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
</style>