<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
                <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <!-- Card Header -->
                    
                    <!-- Listado 1/ Ingresos -->
                    <template v-if="listado==1">
                        <div class="card-header">
                            <div class="form-inline">
                                <h5>Resumen de Ordenes de Trabajo</h5>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <button type="button" @click="pdfResumen(criterio,ini,fin,0)" class="btn btn-secondary mr-1">
                                            <i  class="icon-docs"></i> Ver en Pdf
                                            <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                        </button>

                                        <button type="button" @click="verEstados()" class="btn btn-secondary ">
                                            Estados de Pago <i  class="icon-action-redo"></i>
                                            <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="form-control mr-1" v-model="criterio">
                                            <option value="0">Selecciona un Cliente</option>
                                            <option v-for="cli in arrayCliente" :key="cli.id" :value="cli.id" v-text="cli.nombre">
                                            </option>
                                        </select>
                                        <button type="submit" @click="listarMovimientos(criterio,ini,fin)" class="btn btn-primary mr-1"><i class="fa fa-search"></i> Buscar</button>
                                        <button type="submit" @click="registrarTrabajo()" class="btn btn-primary"><i class="fa fa-search"></i>Registrar</button>
                                    </div>
                                </div>
                                <div class="col-md-4">    
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha de Inicial</label>
                                        <input v-model="ini" type="date" class="form-control">
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha Final</label>
                                        <input v-model="fin" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- Tabla Responsiva -->
                            <div class="table-responsive" id="tabla">
                                <table  class="table table-bordered table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Prendas/Precio</th>
                                                <!-- Array de Fechas -->
                                                <th v-for="col in arrayFecha" :key="col.id">
                                                    <p v-text="col.fecha"></p> 
                                                </th> 

                                                <th>Control Lav.</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                            
                                        <tbody>
                                            
                                                <td>
                                                    <tr v-for="pren in arrayPrendas" :key="pren.id">
                                                        <p>{{pren.nombre  +" / $"+ pren.precio}}</p>
                                                    </tr>
                                                </td>

                                                <td v-for="col in arrayFecha" :key="col.id">
                                                    <div v-for="pren in arrayPrendas" :key="pren.id">
                                                        <tr v-for="guia in arrayGuiap" :key="guia.id">
                                                            <p align="center" v-if="guia.fecha == col.fecha & guia.idprendas == pren.idprendas & guia.precio == pren.precio">{{guia.cantidad}}</p>
                                                            <!-- <p align="center" v-else-if="guia.fecha != col.fecha & guia.idprendas == pren.idprendas & guia.precio != pren.precio">0</p> -->
                                                        </tr>
                                                    </div>
                                                </td>

                                                <td>
                                                    <tr v-for="total in arrayTotalfecha" :key="total.id">
                                                        <p>{{total.cantidad}}</p>
                                                    </tr>
                                                    
                                                </td>

                                                <td>
                                                    <tr v-for="totales in arrayTotales" :key="totales.id">
                                                        <p class="align-content-end">${{totales.total}}</p>
                                                    </tr>
                                                </td>
                                                
                                                <tr>
                                                    <td>Total N°</td>
                                                    
                                                    <td v-for="col in arrayFecha" :key="col.id">
                                                        <div v-for="cal in calcularTotalDespachos" :key="cal.id">
                                                            <p v-if="cal.fecha == col.fecha">{{cal.total}}</p>
                                                            
                                                        </div>
                                                    </td>   

                                                    <td colspan="2">{{calcularTotalFe}}</td>
                                                    
                                                </tr>
                                                
                                                <tr>
                                                    <td>Total $</td>
                                                    <!-- Total Por Colum -->
                                                    <td v-for="col in arrayFecha" :key="col.id">
                                                        <div v-for="cost in calcularTotalCosto" :key="cost.id">
                                                            <p v-if="cost.fecha == col.fecha">Total: {{formatPrice(cost.total)}}</p>
                                                            
                                                        </div>
                                                        
                                                    </td> 
                                                    
                                                    <!--Control Lavanderia-->
                                                    
                                                    <!--Total Por Fila-->
                                                    <td>Iva: {{formatPrice(ValorIva = calcularTotaliva)}}</td>

                                                    <td align="right">Neto: {{formatPrice(ValorNeto = calcularTotal + calcularTotaliva)}}</td>
                                                </tr>
                                        </tbody>
                                </table>
                            </div>
                            

                        </div>
                    </template>
                    <!-- /Listado 1/ Ingresos-->
                    
                    <!-- Listado 1/ Ingresos -->
                    <template v-if="listado==2">
                        <div class="card-header">
                            <div class="form-inline">
                                <h5>Lista de Estados de Pagos</h5>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <button type="button" @click="volver()" class="btn btn-secondary">
                                            <i  class="icon-action-undo"></i> Volver
                                            <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                        <div class="form-group">
                            
                                <div class="input-group"><!--Buscar-->
                                    <select class="form-control col-md-5 mr-1" v-model="criterio2"><!--v-model para enlazar campos con otros-->
                                      <option value="folio">Folio</option>
                                      <option value="fecha1">Fecha Inicio</option>
                                      <option value="fecha2">Fecha Final</option>
                                      <option value="fechaorigen">Fecha Origen</option>
                                      <option value="empresa">Empresa</option>
                                    </select>
                                    <!--cuando presionamos enter y buscar-->    
                                    <input type="text" v-model="buscar2" @keyup.enter="listarEstados(1,buscar2,criterio2)" class="form-control col-md-5 mr-1" placeholder="Texto a buscar">
                                    <!--cuando presionamos el boton buscar-->
                                    <button type="submit" @click="listarEstados(1,buscar2,criterio2)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Fecha Origen</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Final</th>
                                    <th>Empresa</th>
                                    <th>Neto</th>
                                    <th>Iva</th>
                                    <th>Total</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="estado in arrayEstados" :key="estado.id">
                                    
                                    <td v-text="estado.folio"></td>
                                    <td v-text="estado.fechaorigen"></td>
                                    <td v-text="estado.fecha1"></td>
                                    <td v-text="estado.fecha2"></td>
                                    <td v-text="estado.empresa"></td>
                                    <td v-text="estado.neto"></td>
                                    <td v-text="estado.iva"></td>
                                    <td v-text="estado.total"></td>
                                    
                                    <td>    <!--Boton editar-->
                                        <button @click="pdfResumen2(estado.idempresa,estado.fecha1,estado.fecha2,estado.folio)" type="button" class="btn btn-info btn-sm" style="padding: 5px 10px;">
                                           <i class="icon-docs"></i>
                                        </button> &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm" style="padding: 5px 10px;" @click="desactivarEstado(estado.id)">
                                            <i class="icon-trash"></i>
                                        </button>

                                    </td>

                                </tr>
                               
                            </tbody>
                        </table>
                        <!-- Paginacion -->
                        <nav>
                            <!--lista de paginacion-->
                            <ul class="pagination">
                                <!-- cuando sea mayor -->
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar2,criterio2)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                </li>
                                
                                <!--para indicar en cual estoy-->
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>

                                <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar2,criterio2)">Sig</a><!--le sume de una en una-->
                                </li>
                            </ul>
                        </nav>
                        <!-- /Paginacion -->
                    </div>
                    </template>
                    <!-- /Listado 1/ Ingresos-->
                    
                </div>
                            
            </div><!-- div container fluid -->



           

        </main>
</template>

<script>
    import vSelect from 'vue-select';
    import jMoment, { calendarFormat } from 'moment';
    import sheet from 'sheetjs';
    import XLSX from 'xlsx'; 
    import saveAs from 'file-saver';
    import numeral from 'numeral';
    export default {
        props : ['ruta'],
        data(){
            return {
                date: '',
                time: 0,
                datetime:'',
                fecha_hora:'',
                ini:'',
                fin:'',
                
                total:0.0,
                despacho: 0,
                resultado:[],
                resultadoOrdent : 0.0,
                Ordent : 0,
                fecha_hoy:'', //fecha para la consulta
                tiempo :0,
                total_despa:0,
                listado:1,
                largo:0,
                totalGuiap:0,

                folio:0,
                nombreCli:'',
                numero : 0,

                ValorNeto:0.0,
                ValorIva:0.0,
                ValorTotal:0.0,
                criterio : 0,
                criterio2 : 'folio',
                buscar : '',
                buscar2:'',
                valor:0,

                arrayEstados:[],
                arrayVerificado:[],

                arrayFecha:[],
                arrayOrden:[],
                arrayOrdenp:[],
                arrayGuiap:[],
                arrayPrendas:[],
                arrayCliente:[],
                arrayColumnas:[],
                arrayResultados:[],
                arrayResumen:[],
                arrayTotalfecha:[],
                arrayTotales:[],

                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                
                
            }
        },
        components: {
            vSelect,
            jMoment,
            sheet,
            XLSX,
            saveAs,
            numeral 
        },
        computed: {
            
            //estos son los metodos q se me van a ir ejecutando siempre
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },

            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            },

            calcularTotal : function(){
                var resultado=0.0;
                
                for(var i=0; i<this.arrayTotales.length; i++){

                    resultado = resultado + (parseInt(this.arrayTotales[i].total))
                }
                return resultado
            },

            calcularTotaliva : function(){
                var resultadoiva=0.0;
                
                for(var i=0; i<this.arrayTotales.length; i++){
                    resultadoiva = resultadoiva + (parseInt(this.arrayTotales[i].total))
                }
                resultadoiva = (resultadoiva * 19)/100;
                return resultadoiva
            },

            calcularTotalFe : function(){
                var resultado=0.0;
                
                for(var i=0; i<this.arrayTotalfecha.length; i++){

                    resultado = resultado + (parseInt(this.arrayTotalfecha[i].cantidad))
                }
                return resultado
            },

            calcularTotalDespachos: function(){  
                var resultado =0;
                var valorfinal = [];
                
                for(var x=0; x<this.arrayFecha.length; x++){
                    var resultado =0;
                    for(var i=0; i<this.arrayGuiap.length; i++){
                        if(this.arrayFecha[x].fecha == this.arrayGuiap[i].fecha){
                            resultado =  resultado + (parseInt(this.arrayGuiap[i].cantidad));
                        }
                    }
                    valorfinal.push({fecha: this.arrayFecha[x].fecha, total : resultado});
                    
                    // resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].idmediopago='3'.monto))    
                }
                    return valorfinal;
            },

            calcularTotalCosto: function(){  
                var resultado =0.0;
                var valorfinal = [];
                
                for(var x=0; x<this.arrayFecha.length; x++){
                    var resultado =0.0;
                    for(var i=0; i<this.arrayGuiap.length; i++){
                        if (this.arrayFecha[x].fecha == this.arrayGuiap[i].fecha){
                            resultado =  resultado + ((this.arrayGuiap[i].cantidad) * (this.arrayGuiap[i].precio));
                        }
                    }
                    valorfinal.push({fecha: this.arrayFecha[x].fecha, total :resultado});
                }
                    return valorfinal;                
            },
            

            calcularCantidadesDespachos: function(){  
                var resultado =0;
                var valorfinal = [];
                
                // for(var x=0; x<this.arrayFecha.length; x++){
                    for(var i=0; i<this.arrayGuiap.length; i++){
                        if(this.arrayFecha[x].fecha == this.arrayGuiap[i].fecha){
                            resultado =  resultado + (parseInt(this.arrayGuiap[i].cantidad));
                        }
                    }
                    valorfinal.push({fecha: this.arrayFecha[x].fecha, total : resultado});
                    
                    // resultadocredito = resultadocredito + (parseInt(this.arrayTrabajo[i].idmediopago='3'.monto))    
                // }
                    return valorfinal;
            },
        },
        
        methods : {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },

            generarCodig(){
                let me=this;
                var url =this.ruta +'/codigo/estado'
                axios.get(url).then(function (response) {
                     var respuesta = response.data;
                     if(respuesta.codigo == null){
                        me.folio = 1;

                    }else{
                        me.valor = respuesta.codigo["folio"];
                        me.folio = parseInt(me.valor);
                        me.folio ++;
                    }
                     
                    // this.valor = respuesta.codigo;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarEstados(page,buscar,criterio){
                let me=this;
                // me.listado = 1;
                var url =this.ruta +'/estados?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayEstados = respuesta.estado.data;
                    me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarTrabajo(criterio,ini,fin){
                let me=this;
                me.listado = 1;
                var url =this.ruta +'/pago?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPrendas = respuesta.pren;
                    me.arrayOrdenp = respuesta.ordenp;
                    me.arrayGuiap = respuesta.ordent;
                    // me.arrayOrden = respuesta.orden;
                    
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarMovimientos(criterio,ini,fin){
                let me=this;
                me.verificarEstadoP();

                if(me.criterio == 0 | me.ini == "" | me.fin == ""){
                        swal({
                            type: 'error',
                            title: 'Error...',
                            text: 'Debe llenar los distintos parametros',
                            })

                    }
            
                else{
                    me.listado = 1;
                    me.generarCodig();
                    var url =this.ruta +'/resumen?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                    axios.get(url).then(function (response) {
                        var respuesta = response.data;
                        me.arrayPrendas = respuesta.pren;
                        me.arrayGuiap = respuesta.guiap;
                        me.arrayFecha = respuesta.fechas;
                        me.arrayTotalfecha = respuesta.totalfecha;
                        me.arrayTotales = respuesta.totales;
                        me.nombreCli = respuesta.empresa[0]['nombre'];
                        
                        // me.arrayOrden = respuesta.orden;  
                        // me.pagination = respuesta.pagination;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                        // var nuevoArray = new Array(2);
                        
                        // me.arrayResumen.push("hola");
                }
            },

            

            registrarTrabajo(){
                let me = this;
                

                if(me.criterio == 0 | me.ini == "" | me.fin == "" | me.arrayGuiap.length < 1){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Debe llenar los distintos parametros1',
                        })

                }else if(me.arrayVerificado.length > 0){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Este Estado de Pago ya se encuentra registrado',
                        })
                }
                else{

                swal({
                title: 'Esta seguro que desea registrar el Estado de Pago?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                
                if(result.value){

                    let me = this;
                    // this.fecha_hora = this.date + " " + this.time + ":00";
                    axios.post(this.ruta +'/resumen/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar Aqui Voy
                    // campodb: this.variablefront,
                    'folio' : this.folio,
                    'ini': this.ini,
                    'fin': this.fin,
                    'idempresa' : this.criterio,
                    'empresa' : this.nombreCli,
                    'neto' : this.ValorNeto,
                    'iva' : this.ValorIva,
                    'total' : this.ValorIva + this.ValorNeto,
                    // 'data': this.arrayDetalle,
                    
                    }).then(function (response) { //cuando se ejecuta correctamente la peticion ajax
                    
                        
                        // // me.listarTrabajo(1, '', 'num_orden');//asi queda por defecto
                        me.ini='';
                        me.fin='';
                        me.arrayGuiap =[];
                        me.arrayFecha=[];
                        me.arrayPrendas=[];
                        me.arrayTotales=[];
                        me.arrayTotalfecha=[];
                        me.criterio=0;
                        me.listado = 2;
                       

                    // window.open('http://localhost:8000/ordentra/pdf/' + this.num_orden,'_blank');    
                        swal(
                        'Registrado!',
                        'El Estado de Pago ha sido registrado con éxito.',
                        'success'
                        )    

                    }).catch(function (error) {
                        console.log(error);
                    });

                    }else if(result.dismiss == swal.DismissReason.cancel){

                    }
                })
                }
            },

            verificarEstadoP(){
                let me=this;
                // me.listado = 1;
                var url =this.ruta +'/estadoregistrados?criterio='+ me.criterio + '&ini='+ me.ini + '&fin='+ me.fin;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayVerificado = respuesta.verificado;
                    // me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            volver(){
                let me = this;
                me.listado = 1;
            },

            verEstados(){
                let me = this;
                me.listarEstados(1, '', 'folio');
                me.listado = 2;  
            },

            listarEmpresas(){
                let me=this;
                var url =this.ruta +'cliente/selectClienteEm';
                axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayCliente = respuesta.clientes;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarEstados(page,buscar,criterio);
            },

            listarPagos(buscar){
                 let me=this;
                me.listado = 3;
                
                var url =this.ruta +'/caja/pagos?buscar='+ me.buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTodosPago = respuesta.pagos;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            abrirMovimientos(){
                this.criterio = parseInt(criterio);
                let url =this.ruta +'/inventario/exportar?criterio='+ criterio + ini + fin;
                window.location.href = url; // esto redireccionará al usuario a la ruta de descarga
            },
            
            pdfResumen(criterio,ini,fin,numero){
            let me = this;
            if(me.criterio == 0 | me.ini == "" | me.fin == ""){
                swal({
                    type: 'error',
                    title: 'Error...',
                    text: 'Debe llenar los distintos parametros1',
                    })

            }else{
                window.open(this.ruta +'/resumen/pdf/' + criterio+ '/' + ini + '/' + fin +'/' + 0);    
            }
            },
            

            pdfResumen2(criterio,ini,fin,folio){
                let me = this;
            
                window.open(this.ruta +'/resumen/pdf/' + criterio+ '/' + ini + '/' + fin +'/' + folio);    
            
            },

            desactivarEstado(id){
                swal({
                title: 'Esta seguro que desea eliminar el Estado de Pago?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if (result.value) {

                    let me = this;
                    axios.put(this.ruta +'estado/desactivar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        'id': id
                        
                    }).then(function (response) {
                        me.listarEstados(1, '', 'folio');

                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )                              
                        
                    }).catch(function (error) {
                        console.log(error.response);
                    });

                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
                
                
            },

            validarTrabajo(){
            let me=this;
            me.errorTrabajo= 0;
            me.errorMostrarMsjTrabajo = [];

                if(me.ini=="") me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
                if(me.fin=="") me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
                if(me.criterio==0) me.errorMostrarMsjTrabajo.push("Debe seleccionar una orden de trabajo");
                if (me.errorMostrarMsjTrabajo.length) me.errorTrabajo = 1;
                // return me.errorTrabajo;

                if(me.errorTrabajo>0){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Debe llenar los distintos parametros',
                        })

                    }else{
                        
                    }
                },

        },

        mounted() {
             
            this.listarTrabajo(0,'','');
            this.listarEmpresas();  
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: fixed !important;

    }
    .modal{
        overflow: auto !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
        overflow-y: auto !important;
    }
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    
    
    @media (min-width: 600px){ /*para el boton de agregar*/
        .btnagregar{
            margin-top: 2rem;
        }
    }


</style>
