<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
                <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <!-- Card Header -->
                    

                    <!-- Listado 1/ Inventario Cliente Parti -->
                    <template v-if="listado==1">
                        <div class="card-header">
                                <div class="form-inline">
                                    <h5>Inventario de Clientes Particulares</h5>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <button type="button" @click="abrirenExcel(criterio,ini,fin)" class="btn btn-success mr-1">Exportar Excel
                                                <i  class="icon-doc"></i>
                                                <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                            </button>

                                            <button type="button" @click="abrirEmpresa(criterio,ini,fin)" class="btn btn-secondary">Ir a Cliente Empresa
                                                <i  class="icon-action-redo"></i>
                                                <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                            </button>

                                        </div>
                                    </div>

                                </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value=0>Todos Estados</option>
                                        <option value=1>Pend Proceso</option>
                                        <option value=2>Desp Planta</option>
                                        <option value=3>Procesado</option>
                                        </select>
                                        
                                        <button type="submit" @click="listarTrabajo(criterio,ini,fin)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                        
                                    </div>

                                </div>
                                
                                <div class="col-md-4">    
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha de Inicial</label>
                                        <input v-model="ini" type="date" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha Final</label>
                                        <input v-model="fin" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <!-- Tabla Responsiva -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Orden</th>
                                            <th>Cantidad</th> 
                                            <th>Stock</th> 
                                            <th>Prendas</th>  
                                            <th>Estado</th>  
                                            <th class="text-center">Fecha Recibo</th>         
                                            <th>Fecha Entrega</th>
                                            <th>Local</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="inventario in arrayInventario" :key="inventario.id">
                                            <td v-text="inventario.nombre"></td>
                                            <td v-text="inventario.idorden"></td>
                                            <td v-text="inventario.cantiprendas"></td>
                                            <td v-text="inventario.stockprendas"></td>
                                            <td>
                                                <div v-for="pren in arrayPrendas" :key="pren.id"  >
                                                    <div v-if="pren.id == inventario.idprendas">
                                                        <p v-text="pren.nombre"></p> 
                                                    </div>
                                                </div>
                                            </td>
                                            

                                            <td v-text="inventario.estados"></td>
                                            
                                            <td v-text="inventario.recibo"></td>
                                            <td v-text="inventario.entrega"></td>
                                            
                                            <td>
                                                 <div v-for="loca in arrayLocal" :key="loca.id"  >
                                                    <div v-if="loca.id == inventario.idubicacion">
                                                    <p v-text="loca.local"></p> 
                                                    </div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        
                                    
                                    </tbody>
                                </table>
                            </div>

                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->

                        </div>
                    </template>
                    <!-- /Listado 1/ Ingresos-->

                   <!-- Listado 2/ Inventario Cliente Empresa -->
                    <template v-if="listado==2">
                        <div class="card-header">
                            <div class="form-inline">
                                <h5>Inventario de Clientes Empresa</h5>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <button type="button" @click="abrirenExcelEm(criterio,ini,fin)" class="btn btn-success mr-1">Exportar Excel
                                                <i  class="icon-doc"></i>
                                                <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                            </button>

                                            <button type="button" @click="listarTrabajo(criterio,ini,fin)" class="btn btn-secondary">Ir a Cliente Particular
                                                <i  class="icon-action-undo"></i>
                                                <!-- <a href="/inventario/exportar">Excel</a>Excel -->
                                            </button>

                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value=0>Todos Estados</option>
                                        <option value=1>Pend Proceso</option>
                                        <option value=2>Desp Planta</option>
                                        <option value=3>Procesado</option>
                                        </select>
                                        
                                        <button type="submit" @click="listarTrabajoEm(criterio,ini,fin)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                        
                                    </div>

                                </div>
                                
                                <div class="col-md-4">    
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha de Inicial</label>
                                        <input v-model="ini" type="date" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-inline">
                                        <label class="mr-2" for="">Fecha Final</label>
                                        <input v-model="fin" type="date" class="form-control">
                                    </div>
                                </div>
                                         
                                
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Orden</th>
                                            <th>Cantidad</th> 
                                            <th>Stock</th> 
                                            <th>Prendas</th>  
                                            <th>Estado</th>  
                                            <th class="text-center">Fecha Recibo</th>         
                                            <th>Fecha Entrega</th>
                                            <th>Local</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="inventario in arrayInventario" :key="inventario.id">
                                            <td v-text="inventario.nombre"></td>
                                            <td v-text="inventario.idorden"></td>
                                            <td v-text="inventario.cantiprendas"></td>
                                            <td v-text="inventario.stockprendas"></td>
                                            <td>
                                                <div v-for="pren in arrayPrendas" :key="pren.id"  >
                                                    <div v-if="pren.id == inventario.idprendas">
                                                        <p v-text="pren.nombre"></p> 
                                                    </div>
                                                </div>
                                            </td>
                                            

                                            <td v-text="inventario.estados"></td>
                                            
                                            <td v-text="inventario.recibo"></td>
                                            <td v-text="inventario.entrega"></td>
                                            
                                            <td>
                                                 <div v-for="loca in arrayLocal" :key="loca.id"  >
                                                    <div v-if="loca.id == inventario.idubicacion">
                                                    <p v-text="loca.local"></p> 
                                                    </div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        
                                    
                                    </tbody>
                                </table>
                            </div>

                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->

                        </div>
                    </template>
                    <!-- /Listado 2/ Egresos-->
                </div>
                            
            </div><!-- div container fluid -->



           

        </main>
</template>

<script>
    import vSelect from 'vue-select';
    export default {
        props : ['ruta'],
        data(){
            return {
               
                date: '',
                time: 0,
                datetime:'',
                fecha_hora:'',
                ini:'',
                fin:'',

                fecha_hoy:'', //fecha para la consulta
                tiempo :0,
                
                listado:1,

              
                total:0.0,
                totalcredito:0.0,
                totaldebito: 0.0,
                totalefectivo: 0.0,
                
                arrayInventario:[],
                arrayLocal:[],
                arrayPrendas:[],
                
                arrayEfectivo:[],
                arrayDebito:[],
                arrayCredito:[],
                arrayTodosPago : [],

                
               
                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 0,//
                buscar : ''//
            }
        },
        components: {
            vSelect,
            
        },
        computed: {
            //estos son los metodos q se me van a ir ejecutando siempre
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },

            calcularTotal : function(){
                var resultado=0.0;
                
                for(var i=0; i<this.arrayTrabajo.length; i++){

                    resultado = resultado + (parseInt(this.arrayTrabajo[i].monto))
                }
                return resultado
            },

            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            }
        },
        methods : {

            listarTrabajo(criterio,ini,fin){
                let me=this;
                me.listado = 1;
                var url =this.ruta +'/inventario?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayInventario = respuesta.inventarios;
                    me.arrayLocal = respuesta.ubicaciones;
                    me.arrayPrendas = respuesta.prendas;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarTrabajoEm(criterio,ini,fin){
                let me=this;
                me.listado = 2;
                var url =this.ruta +'/inventarioEm?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayInventario = respuesta.inventarios;
                    me.arrayLocal = respuesta.ubicaciones;
                    me.arrayPrendas = respuesta.prendas;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            abrirenExcel(criterio,ini,fin){
                    this.criterio = parseInt(criterio);
                    let url ='/inventario/exportar?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                    window.location.href = url; // esto redireccionará al usuario a la ruta de descarga
                
            },

            abrirenExcelEm(criterio,ini,fin){
                this.criterio = parseInt(criterio);
                let url ='/inventarioEm/exportar?criterio='+ criterio + '&ini='+ ini + '&fin='+ fin;
                window.location.href = url; // esto redireccionará al usuario a la ruta de descarga
                
            },

            listarDespacho(page,buscar,criterio){
                let me=this;
                me.listado = 2;
                var url =this.ruta +'/caja/despachado?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTrabajo = respuesta.trabajos;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarResumen(){
                let me=this;
                me.listado = 3;
                // me.listarTrabajo(1,buscar,criterio);
               
            },
            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarTrabajo(page,buscar,criterio);
            },

            listarPagos(buscar){
                 let me=this;
                me.listado = 3;
                
                var url =this.ruta +'/caja/pagos?buscar='+ me.buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTodosPago = respuesta.pagos;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            abrirEmpresa(){
                let me = this;
                me.listarTrabajoEm(0,'','');
                me.listado = 2;
            },

          
          
        },

        mounted() {
             
            this.listarTrabajo(0,'','');
           
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: fixed !important;

    }
    .modal{
        overflow: auto !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
    }
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    .sin{
        pointer-events: none;
        cursor: default;
    }
    
    @media (min-width: 600px){ /*para el boton de agregar*/
        .btnagregar{
            margin-top: 2rem;
        }
    }
</style>
