<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
                <li class="breadcrumb-item">Fecha: {{fecha_hoy = fechas }}</li>
            </ol>
            <div class="container-fluid">
                    <p v-text="idord" class="d-none"></p>
                    <p v-text="idinp" class="d-none"></p>
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <!-- Card Header -->
                    <div class="card-header">
                        <h5>Movimientos de Ordenes de Trabajo</h5>
                        
                    </div>
                        <div class="card-body">
                            <div class="form-group">
                                
                                    <div class="input-group"><!--Buscar-->
                                        <select class="form-control col-md-4 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                        <option value="num_orden">Num Orden</option>
                                        <option value="nombre">Cliente</option>
                                        <option value="idpersona">ID Cliente</option>
                                        <option value="fecha_hora">Fecha-Hora</option>
                                        </select>
                                        <!--cuando presionamos enter y buscar-->    
                                        <input type="text" v-model="buscar" @keyup.enter="listarTrabajo(1,buscar,criterio)" class="form-control col-md-4 mr-1" placeholder="Texto a buscar">
                                        <!--cuando presionamos el boton buscar-->
                                        <button type="submit" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-primary mr-1"><i class="fa fa-search"></i> Buscar</button>

                                        <button type="button" @click="listarTrabajo(1,buscar,criterio)" class="btn btn-outline-success">Refrescar</button>
                                    </div>
                                

                                
                                        

                                         <!-- <button type="button" @click="listarPagos()" class="btn btn-danger mr-1">
                                            Inventario Local
                                        </button> -->

                                    
                                
                            </div>

                            <!-- Tabla Responsiva -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Orden</th>
                                            <th>Cliente</th>
                                            <th>id Pro</th>  
                                            <th>Proceso</th>
                                            <th>Ingreso</th>  
                                            <th>Entrega</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="movi in arrayMovimiento" :key="movi.id">
                                            <td v-text="movi.histo_numor"></td>
                                            <td v-text="movi.nombre"></td>
                                            <td v-text="movi.idinpes"></td>
                                            <td>
                                            <select class="form-control" v-model="movi.idinpes">
                                                    <option v-for="inpec in arrayInpeccion" :key="inpec.id" :value="inpec.id" v-text="inpec.nombre">
                                                </option>
                                            </select>
                                            </td>
                                            <td v-text="movi.fecha_hora"></td>
                                            <td v-text="movi.fecha_entrega"></td>
                                            <td>    <!--Boton Ver-->
                                               <button type="button" @click="actualizarMovimiento(movi.id,movi.idinpes)" class="btn btn-secondary">
                                                    <i class="icon-plus"></i>&nbsp;Actualizar
                                                </button> 
                                                    
                                            </td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Paginacion -->
                            <nav>
                                <!--lista de paginacion-->
                                <ul class="pagination">
                                    <!-- cuando sea mayor -->
                                    <li class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                    </li>
                                    
                                    <!--para indicar en cual estoy-->
                                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                    </li>

                                    <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Paginacion -->
                        </div>
                </div>
            </div><!-- div container fluid -->
           

        </main>
</template>

<script>
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    export default {
        props : ['ruta'],
        data(){
            return {
               
                date: '',
                time: 0,
                datetime:'',
                

                fecha_hoy:'', //fecha para la consulta
                tiempo :0,
                listado:1,

                 cambio:'',
                 idord:0,
                 idinp:0,
              
                total:0.0,
                totalcredito:0.0,
                totaldebito: 0.0,
                totalefectivo: 0.0,
                
                
                arrayInventario:[],
                arrayLocal:[],
                arrayMovimiento : [],
                
                arrayInpeccion:[],

                arrayDebito:[],
                arrayCredito:[],
                arrayTodosPago : [],
                

                modal : 0,
                
               
                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 'fecha_hora',//
                buscar : ''//
            }
        },
        components: {
            vSelect,
            DatePicker
        },
        computed: {
            //estos son los metodos q se me van a ir ejecutando siempre
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
   

            fechas : function(){

                var hoy = new Date();
                var  dd = hoy.getDate();
                var  mm = hoy.getMonth()+1;
                var  yyyy = hoy.getFullYear();

                function addZero(i) {
                    if (i < 10) {
                        i = '0' + i;
                    }
                    return i;
                }

                mm=addZero(mm);
                dd=addZero(dd);

                return hoy = yyyy+'-'+mm+'-'+dd;
            }
        },
        methods : {

            listarTrabajo(){
                let me=this;
                me.listado = 1;


                var url =this.ruta +'/movimiento';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayMovimiento = respuesta.trabajos;
                    
                    // me.arrayLocal = respuesta.ubicaciones;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            listarInpeccion() {
                let me = this;
                var url =this.ruta +'/movimiento/estados';

                axios.get(url).then(function(response) {
                        //alamaceno la response en el array
                        var respuesta = response.data;
                        me.arrayInpeccion = respuesta.inpestados;
                        
                    })
                    .catch(function(error) {
                        // handle error
                        console.log(error);
                    });
            },

            listarResumen(){
                let me=this;
                me.listado = 3;
                // me.listarTrabajo(1,buscar,criterio);
               
            },          

            pdfTrabajo(id){
                window.open(this.ruta +'/ordentra/pdf/' + id);
              
            },
            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarTrabajo(page,buscar,criterio);
            },

            listar(buscar){
                 let me=this;
                me.listado = 3;
                
                var url =this.ruta +'/caja/pagos?buscar='+ me.buscar;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayTodosPago = respuesta.pagos;
                    // me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            registrarMovimiento(){
                //si validarCategoria tiene un error entonces retor el error
                if(this.validarPersona()){
                    return;
                }

                let me = this;
                axios.post(this.ruta +'/cliente/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,


                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1, '', 'nombre' );//asi queda por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
              actualizarMovimiento(orden,valor){
                    
                  let me = this;
                    me.id=orden,
                    me.idinp=valor,
                
                axios.put(this.ruta +'/movimiento/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    'id': me.id,
                    'idinpes': me.idinp
                    
                }).then(function (response) {
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Orden Actualizada',
                        showConfirmButton: false,
                        timer: 1700
                    })
                    // me.listarCategoria(1, '', 'nombre');//listar por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

           // /abrirModal

           abrirModal(orden,valor){
               
               alert(orden);
               alert(valor);
               this.idord = orden;
               this.idinp = valor;
            
            }, // /abrirModal
        

            cerrarModal(){
                this.modal= 0;
                this.tipoAccion = 0;
                this.tituloModal='';
            },
          
        },

        mounted() {
            this.buscar = this.fecha_hoy;
            this.listarTrabajo(1,this.buscar,this.criterio);
            this.listarInpeccion(1, '', '');
           
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: fixed !important;

    }
    .modal{
        overflow: auto !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
        overflow: auto !important;
    }
    
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    
    
    @media (min-width: 600px){ /*para el boton de agregar*/
        .btnagregar{
            margin-top: 2rem;
        }
    }
</style>