<template>
<!-- Contenido Principal -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
            <div class="card-header">
                <div class="form-inline">
                    <h5>Tipo de Trabajo</h5>  
                    <button type="button" @click="abrirModal('tipotrabajo','registrar')" class="ml-2 mr-2 btn btn-secondary" >
                            <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <select class="form-control col-md-4 mr-1" v-model="criterio" >
                                    <!-- en value va el nombre con el q buscare en la bd -->
                                  <option value="nombre_tra">Nombre</option>
                                  <option value="descripcion">Descripción</option>
                            </select>
                            <input type="text" v-model="buscar" @keyup.enter="listarTipotrabajo(1,buscar,criterio)" class="form-control col-md-6 mr-1" placeholder="Texto a buscar"><!--cuando presione enter-->
                            <button type="submit" @click="listarTipotrabajo(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tipotrabajo in arrayTipotrabajo" :key="tipotrabajo.id" >
                                

                                <td v-text="tipotrabajo.nombre_tra"></td>
                                <td v-text="tipotrabajo.descripcion"></td>
                                <td>
                                    <div v-if="tipotrabajo.condicion == 1">
                                        <span class="badge badge-success">Activo</span>
                                    </div>

                                    <div v-else>
                                        <span class="badge badge-danger">Desactivado</span>
                                    </div>
                                    
                                </td>

                                <td>
                                    <button type="button" @click="abrirModal('tipotrabajo','actualizar', tipotrabajo)" class="btn btn-warning btn-sm">
                                        <i class="icon-pencil"></i>
                                        </button>

                                    <!--Borrar si la categoria esta activa me muestre el botonpara descativar -->
                                        <template v-if="tipotrabajo.condicion && tipotrabajo.id != 6">
                                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarTrabajo(tipotrabajo.id)">
                                            <i class="icon-trash"></i>
                                            </button>
                                        </template>

                                        <!-- si la categoria esta descativada me muestre el boton para activar -->
                                        <template v-else-if=" tipotrabajo.id != 6 ">
                                            <button type="button" class="btn btn-info btn-sm" @click="activarTrabajo(tipotrabajo.id)">
                                            <i class="icon-check"></i>
                                            </button>
                                        </template>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item" v-if="paginacion.pagina_actual > 1"> <!--se muestra si botonanterior es mayor a uno-->
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar, criterio)">Ant</a>
                        </li>

                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page">1</a>
                        </li>
                    
                        <li class="page-item" v-if="paginacion.pagina_actual < paginacion.pag_alfinal"> <!--se muestra si actual sea menor que la ultima-->
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar, criterio)">Sig</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
    </div>
    <!--Inicio del modal agregar/actualizar-->
    <!--cuando la variable modal es igual a 1 se aplique la class mostrar al modal-->
    <div class="modal fade"  tabindex="-1" :class="{'mostrar': modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="tituloModal"></h4> <!--agrega el titulo que recibo-->
                    <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                          <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                            <div class="col-md-9">
                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de tipo trabajo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                            <div class="col-md-9">
                                <input type="text" v-model="descripcion" class="form-control" placeholder="Ingrese la descripcion">
                            </div>
                        </div>
                    <!-- este bloque muestra los errrores, se muestra si errrorTipotrabajo=1 -->
                    <div v-show="errorTipotrabajo" class="align-self-center alert alert-danger text-center ml-2">
                        <div class="text-center">
                            <!-- recorremos todos loserrores denro del array y los mostramos con v-text -->
                            <div v-for="error in errorMostrarMsjTipotrabajo" :key="error" v-text="error"></div>
                        </div>
                    </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarTrabajo()">Guardar</button> <!--si es igual a 1 quiere decir guardar-->
                    <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarTrabajo()">Actualizar</button> <!--si es igual a 1 quiere decir Actualizar-->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->
    <!-- Inicio del modal Eliminar -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar la categoría?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Fin del modal Eliminar -->
</main>
<!-- /Fin del contenido principal -->

</template>

<script>
    export default {
        //**TODOS MIS DATOS A INICIAR */
        props : ['ruta'],
        data() {
            return {
                //para almacenar
                trabajo_id : 0,
                nombre: '', 
                descripcion: '',
                arrayTipotrabajo: [],
                modal : 0, //estaba var se encarga de verificar si mostramos o no el modal
                tituloModal : '',
                tipoAccion : 0,
                errorTipotrabajo: 0, //esta variable evaluara si hubo un error de campos vacio 1/0
                errorMostrarMsjTipotrabajo: [], //array donde ire alamacenando lostipos de errores que tenga, inicializo vacio
                paginacion: {
                    'total' : 0,
                    'pagina_actual' : 0, // current_page
                    'pag_mostrar' : 0, //numero de registros por pagina per_page
                    'pag_alfinal' : 0, // last_page hasta ultima pagina
                    'pag_actual' : 0, //from desde la pagina donde me encuentro
                    'pag_ultima' : 0, //to hasta la pagina
                },
                offset:3,
                criterio: 'nombre_tra', //para el buscar, cual es el campo de busqueda es un valor inicial
                buscar : '' //para el buscar, cual es el texto de busqueda para realizar todos los filtros
            }
        },
        //Pripiedad Computada usado para trabajar la paginacion asincrona//
        computed:{
            isActived: function(){
                return this.paginacion.pagina_actual;
            },
            //calcula los elementos de la paginacion
            pagesNumber :function(){
                if(!this.paginacion.pag_ultima){
                    return [];
                }

                var from = this.paginacion.pagina_actual - this.offset;
                if(from < 1 ){
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if (to >= this.paginacion.pag_alfinal ){
                    to = this.paginacion.pag_alfinal;
                }

                var pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },

        //+++++++++++MIS METODOS++++++++++++++++++++//
        methods: {
            listarTipotrabajo(page,buscar,criterio) {
                let me = this;
                //la url mas el parametro que estamos recibiendo
                var url =this.ruta +'/tipotrabajo?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio; 

                axios.get(url).then(function(response) {
                        var respuesta = response.data;
                        me.arrayTipotrabajo = respuesta.tipotrabajos.data;
                        me.paginacion = respuesta.paginacion;
                        
                    })
                    .catch(function(error) {
                        // handle error
                        console.log(error);
                    });
            },

            //Metodos para controlar paginacion
            cambiarPagina(page, buscar, criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.paginacion.pagina_actual = page;
                //Ahora enviamos la peticion para visualizar la data de dicha pag
                me.listarTipotrabajo(page,buscar,criterio);

            },
            

            //METODO PARA REGISTRAR MIS TRABAJOS
            registrarTrabajo(){

                if (this.validarTipotrabajo()){
                    //si esta funcion retorna 1 esta evaluacion reurn y se queda aqui
                    return;
                }
                //de lo contrario salimos de este if  registramos

                let me = this;
                    //en esta misma llamada post enviams aparte tambien los datos a ingresar
                    axios.post(this.ruta +'/tipotrabajo/registrar',{
                        'nombre': this.nombre,
                        'descripcion': this.descripcion
                        
                    }).then(function(response) {
                        //si todo sale bien llamamos a los siguientes metodos
                        me.cerrarModal();
                        me.listarTipotrabajo(1, '', 'nombre'); //lo colocamos por defecto nuevamente
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            //Metodo para actualizar
            actualizarTrabajo(){
                if(this.validarTipotrabajo()){
                    return;
                }
                let me = this;
                axios.put(this.ruta +'/tipotrabajo/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                //campos de la bd : variabes de js
                    'nombre': this.nombre,
                    'descripcion': this.descripcion,
                    'id': this.trabajo_id
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarTipotrabajo(1, '', 'nombre'); //listar por defecto  
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },

            desactivarTrabajo(id){
                swal({
                title: 'Esta seguro que desactivar este tipo de trabajo?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if (result.value) {

                    let me = this;
                    axios.put('tipotrabajo/desactivar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos bd : variable vue
                        'id': id
                    }).then(function (response) {
                        me.listarTipotrabajo(1, '', 'nombre'); //listar por defecto  
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )                              

                    }).catch(function (error) {
                        console.log(error.response);
                    });

                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
                
            },

            activarTrabajo(id){
                swal({
                title: 'Esta seguro que activar este tipo de trabajo?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if (result.value) {

                    let me = this;
                    axios.put(this.ruta +'tipotrabajo/activar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    //campos bd : variable vue
                        'id': id
                    }).then(function (response) {
                        me.listarTipotrabajo(1, '', 'nombre'); //listar por defecto  
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )                              

                    }).catch(function (error) {
                        console.log(error.response);
                    });

                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
                
            },

            //Metodo validar mi Tipotrabajo
            validarTipotrabajo(){
                this.errorTipotrabajo= 0; //inicializamos en 0
                this.errorMostrarMsjTipotrabajo = []; //a este array le anexaremos los msj d errores con el metodo push
                //evaluamos si nombre esta vacio agregamos este mensaje al array
               
               if(!this.nombre) this.errorMostrarMsjTipotrabajo.push("El nombre del tipo de trabajo no puede estar vacio");

                //evaluamos si este array tiene al menos 1 elmento, cambiamos errortipotrabajo a 1
                if(this.errorMostrarMsjTipotrabajo.length) this.errorTipotrabajo = 1;
                
                //aqui retornamos el valor 1
                return this.errorTipotrabajo;

            },

            //CARGAR INFORMACION A LA VENTANA MODAL
            abrirModal(modelo, accion, data = []){ //se encarga de abrir el modal y los diferentes casos Y estados
                switch(modelo){
                    case "tipotrabajo":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.modal = 1;//debe mostar ventana modal
                                this.tituloModal = "Registrar Tipo de Trabajo"
                                this.nombre = '';
                                this.descripcion = '';
                                this.tipoAccion = 1; //para mostrar el boton guardar
                                break;
                            }
                             case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = "Actualizar Tipo de Trabajo"; //que se muetre este titulo
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.trabajo_id = data['id']; //tomo la clave primaria
                                this.nombre = data['nombre_tra']; //enlazadas con el objeto nombre q viene en data
                                this.descripcion = data['descripcion']; //enlazadas con el objeto descripcion q viene en data
                                break;

                            }
                        }
                    }
                }
            },

            cerrarModal(){
                this.modal=0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                this.errorTipotrabajo= 0; 
                this.errorMostrarMsjTipotrabajo = [];
            }



        },

        //***ESTO ES PARECIDO AL MAIN *//
        mounted() {
            //le envio 1, this.buscar es lo que tenga la variable buscar en la propiedad data en este momento
            this.listarTipotrabajo(1, this.buscar, this.criterio);
            
        },

    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .mostrar{ /* cuando mostrar es igual a 1*/
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        top:0 !important;
        right:0 !important;
        bottom:0 !important;
        left:0 !important; 
        background-color: #3c29297a !important;
         overflow: auto !important;
    }
    .form-control,.btn{
        border-radius: 3px;
    }

    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    
</style>