<template>
    <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <div class="form-inline">
                            <h5>Usuarios</h5>
                            <button type="button" @click="abrirModal('user','registrar')" class="btn btn-secondary ml-2">
                                <i class="icon-plus"></i>&nbsp;Nuevo
                            </button>
                        </div>
                        
                    </div>

                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group"><!--Buscar-->
                                    <select class="form-control col-md-6 mr-1" v-model="criterio"><!--v-model para enlazar campos con otros-->
                                      <option value="nombre">Nombre</option>
                                      <option value="usuario">Usuario</option>
                                      <option value="email">Email</option>
                                      <option value="telefono">Telefono</option>
                                    </select>
                                    <!--cuando presionamos enter y buscar-->    
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control col-md-4 mr-1" placeholder="Texto a buscar">
                                    <!--cuando presionamos el boton buscar-->
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        
                                        <th>ID</th>            
                                        <th>Nombre</th>            
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Email</th>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                        <th>Opciones</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in arrayUsuario" :key="user.id">
                                    <!-- <tr v-for="roless in arrayRol" :key="roless.id"> -->
                                    

                                        <!-- <td v-text="persona.id_cod_persona"></td> -->
                                        <td v-text="user.id"></td>
                                        <td v-text="user.nombre"></td>
                                        <td v-text="user.local"></td>
                                        <td v-text="user.telefono"></td>
                                        <td v-text="user.email"></td>
                                        <td v-text="user.usuario"></td>
                                        <td v-text="user.rol"></td>
                                        
                                        <td>    <!--Boton editar-->
                                        <button type="button" class="btn btn-warning btn-sm" style="padding: 5px 10px;">
                                            <i @click="abrirModal('user', 'actualizar',user)" class="icon-pencil"></i>
                                        </button> &nbsp;

                                            <!--Boton Desactivar-->
                                        <template v-if="user.condicion"> <!--cuando condicion es 1-->
                                            <button type="button" class="btn btn-danger btn-sm" style="padding: 5px 10px;" @click="desactivarCategoria(user.id)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>
                                            <!--Boton Activar-->
                                        <template v-else> <!--cuando condicion es desactivada-->
                                            <button type="button" class="btn btn-info btn-sm" style="padding: 5px 10px;" @click="activarCategoria(user.id)">
                                                <i class="icon-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                        <!--     -->
                                        <!-- arrayRol[persona.id_rol].nombre -->
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>


                        <!-- Paginacion -->
                        <nav>
                            <!--lista de paginacion-->
                            <ul class="pagination">
                                <!-- cuando sea mayor -->
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)" >Ant</a> <!--le restamos 1 a la pag actual-->
                                </li>
                                
                                <!--para indicar en cual estoy-->
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '' ]"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>

                                <!-- mientras la pg actual sea menor q la ultima pagina muestre el boton sguient -->
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a><!--le sume de una en una-->
                                </li>
                            </ul>
                        </nav>
                        <!-- /Paginacion -->
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre"  class="form-control" placeholder="Nombre de la persona">
                                        
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">Local (*)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="direccion">
                                            <option value="0">Seleccionar</option> 
                                            <option v-for="dire in arrayDireccion" :key="dire.id" :value="dire.id"  v-text="dire.local + ' / ' + dire.direccion">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Telefono</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="telefono" class="form-control" placeholder="Telefono">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">Rol (*)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="idrol">
                                             <option value="0">Seleccione un rol</option>
                                            <option v-for="rol in arrayRol" :key="rol.id" :value="rol.id" v-text="rol.nombre">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Usuario (*)</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="usuario" class="form-control" placeholder="Nombre de Usuario">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Password (*)</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="password" class="form-control" placeholder="Password de Usuario">
                                    </div>
                                </div>

                                <!-- solose muestrre cuando errrocate sea 1 -->
                                <div v-show="errorPersona" class="align-self-center alert alert-danger text-center ml-2">
                                    <div class="text-center">
                                        <!-- iteramos  luego lo imprimo con v-text-->
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                                
                            </form>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="registrarPersona()">Guardar</button>
                            <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
            


        </main>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return {
                user_id : 0, //para guardar la clave pk
                // id_cod_persona : 0,
                nombre: '',
                direccion: 0,
                telefono:'',
                email:'',
                usuario:'',
                password:'',
                idrol: 0,
                arrayUsuario : [],
                arrayRol : [],
                arrayDireccion : [],
                modal : 0,
                tituloModal: '',
                tipoAccion:  0,
                errorPersona : 0,
                errorMostrarMsjPersona : [],
                pagination : {
                    'total' : 0,//el total de pag
                    'current_page'  : 0,//pagina actual
                    'per_page'      : 0,//los registros de pagina
                    'last_page'     : 0,// ultima pagina
                    'from'          : 0,//desde la pagina
                    'to'            : 0,//hasta la pagina
                },
                offset : 3, //
                criterio : 'nombre',//
                buscar : ''//
            }
        },

        computed: {
            isActived : function(){
                return this.pagination.current_page; //activar la pagina actual
            },
            //calcula los elementos de la paginacion
            pagesNumber : function(){
                if(!this.pagination.to){ // si la pag es dif de .to es decir el ultimo elemento de la pag actual 
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }


                var to  = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        methods : {

            listarPersona(page,buscar,criterio){
                this.selectRol();
                let me=this;
                var url =this.ruta +'/user?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayUsuario = respuesta.users.data;

                    me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            selectRol(){
                let me=this;
                var url =this.ruta +'/rol/selectrol';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayRol = respuesta.roles;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },
            selectDireccion(){
                let me=this;
                var url =this.ruta +'/ubicacion/seleccion';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayDireccion = respuesta.locales;//porque asi esta en e controlador
                    
                })
                .catch(function (error) {
                        console.log(error);
                });
            },
            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                // Actualiza la pag actual
                me.pagination.current_page = page;
                //Enviar la peticion para ver la data de esa pagina
                me.listarPersona(page,buscar,criterio);
            },
            
            registrarPersona(){
                //si validarCategoria tiene un error entonces retor el error
                if(this.validarPersona()){
                    return;
                }

                let me = this;
                axios.post(this.ruta +'/user/registrar',{ //la ruta , los datos q recibimos  enviamos a registrar Aqui Voy
                    // 'id_cod_persona': this.id_cod_persona,
                    'usuario': this.usuario,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'password': this.password,
                    'condicion': this.condicion,
                    'idrol' : this.idrol,
                    
                    


                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1, '', 'nombre' );//asi queda por defecto
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            actualizarPersona(){
                if(this.validarPersona()){
                    return;
                }
                let me = this;
                axios.put(this.ruta +'/user/actualizar',{ //la ruta , los datos q recibimos  enviamos a registrar
                    // 'id_cod_persona': this.id_cod_persona,
                    'nombre': this.nombre,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'idrol' : this.idrol,
                    'usuario': this.usuario,
                    'password': this.password,
                    'id': this.user_id

                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1, '', 'nombre');//listar por defecto
                        
                    })
                    .catch(function (error) {
                        console.log(error.response);
                    });
            },
            desactivarCategoria(id){
                swal({
                title: 'Esta seguro que desactivar este Usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if (result.value) {

                    let me = this;
                    axios.put(this.ruta +'/user/desactivar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');  //listar por defecto

                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )                              

                    }).catch(function (error) {
                        console.log(error.response);
                    });

                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
                
            },

            activarCategoria(id){
                swal({
                title: 'Esta seguro que activar este Usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {

                if (result.value) {

                    let me = this;
                    axios.put(this.ruta +'/user/activar',{ //la ruta , los datos q recibimos  enviamos a registrar
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');  //listar por defecto

                        swal(
                        'Activado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )                              

                    }).catch(function (error) {
                        console.log(error.response);
                    });

                    
                }else if(result.dismiss == swal.DismissReason.cancel){

                }
                })
            },

            validarPersona(){
                this.errorPersona= 0;
                this.errorMostrarMsjPersona = [];

                //si nombre esta vacio entnces agregame este mensaje a este cadena de texto
                // if(!this.id_cod_persona) this.errorMostrarMsjPersona.push("El codigo de persona no puede estar vacio");
                if(!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la persona no puede estar vacio.");
                if(!this.direccion) this.errorMostrarMsjPersona.push("El codigo de persona no puede estar vacio");
                if(!this.telefono) this.errorMostrarMsjPersona.push("El telefono no puede estar vacio");
                if(!this.email) this.errorMostrarMsjPersona.push("El Email de persona no puede estar vacio");
                if(this.idrol==0) this.errorMostrarMsjPersona.push("Debes seleccionar un rol de usuario");
                if(!this.usuario) this.errorMostrarMsjPersona.push("El nombre de usuario no puede estar vacio.");
                if(!this.password) this.errorMostrarMsjPersona.push("El password no puede estar vacio.");
                
                //si el array erromostrar tiene al menos 1  error categoria pasa a ser 1
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },

            cerrarModal(){
                this.modal= 0;
                this.tituloModal = '';
                this.user_id = 0,
                this.nombre = '',
                this.direccion = '',
                this.telefono ='',
                this.email ='',
                this.usuario = '',
                this.password = '',
                this.idrol = 0,
                this.errorPersona= 0; 
                this.errorMostrarMsjPersona = [];
            },

            abrirModal(modelo, accion, data = []){
                this.selectRol(); //al abrir este modal lamo a la funcion  cargo todos los roles en el modal
                this.selectDireccion();
                switch(modelo){
                    case "user": //modelo
                    {
                        switch(accion){

                            case 'registrar':
                            {
                                this.modal = 1; //se debe mostrar el modal
                                this.tituloModal = "Registrar Usuario"; //que se muetre este titulo
                                // this.id_cod_persona = 0,
                                this.nombre = '',
                                this.direccion = 0,
                                this.telefono ='',
                                this.email ='',
                                this.usuario ='',
                                this.password ='',
                                this.id_rol ='',
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = "Actualizar Usuario"; //que se muetre este titulo
                                this.tipoAccion = 2; //tipo de accion para actualizr es 2
                                this.user_id = data['id'];
                                // this.id_cod_persona = data['id_cod_persona']; //enlazadas con el objeto nombre q viene en data
                                this.nombre = data['nombre']; //enlazadas con el objeto descripcion q viene en data
                                this.direccion = data['direccion'];
                                this.telefono = data['telefono'];
                                this.email = data['email'];
                                this.usuario = data['usuario'];
                                this.password = data['password'];
                                this.idrol = data['id'];
                                break;
                            }

                        }

                    } // /case categoria
                } // /switch 1
            } // /abrirModal
        },

        mounted() {
            this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position:absolute !important;
        background-color: #3c29297a !important;
        overflow: auto !important;
    }
    .form-control,.btn{
        border-radius: 3px;
    }
     
    .app-header.navbar .navbar-brand{
        background-color: #20a8d8 !important;
    }

    .card{
        border: 0;
        border-radius: .3rem;
        box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,0.38);
    }
    .card-header{
        border: 0;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    
</style>